@use "@/styles/variables/variables" as vars;

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .description {
    font-size: 16px;
    color: vars.$gray-dark;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }

    @media screen and (max-width: 500px) {
      font-size: 14px;
    }
  }
}
