@use '@/styles/variables/variables' as vars;
@use '@/styles/mixins/title' as title;

.signup-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 64px 0 47px;
  margin: 0 auto;

  @media screen and (max-width: 900px) {
    width: 545px;
    padding: 32px 0 38px;
  }

  @media screen and (max-width: 700px) {
    width: 100%;
    padding: 24px 25px 12px;
  }

  @media screen and (max-width: 500px) {
    padding: 24px 16px 12px;
  }

  > div {
    width: 100%;
  }

  &__title-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &__title {
    @include title.title()
  }

  &__subtitle {
    @include title.subtitle()
  }

  &__inputs {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  &__radio {
    width: 100%;
    margin-top: 18px;
    display: flex;
    justify-content: flex-start;

    &-content {
      margin-left: 19px;
      font-size: 15px;

      @media screen and (max-width: 900px) {
        margin-left: 8px;
        font-size: 13px;
      }
    }
  }

  &__controls {
    margin-top: 66px;
    width: 250px !important;

    @media screen and (max-width: 500px) {
      width: 100% !important;
    }
  }
}