@use '@/styles/variables/variables' as vars;
@use '@/styles/mixins/title' as title;

.signup-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0 47px 0;

  &__title-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    @include title.title()
  }

  &__subtitle {
    color: vars.$gray;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__inputs {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 600px;
  }

  &__radio {
    width: 600px;
    margin-top: 18px;
    display: flex;
    justify-content: flex-start;
  }

  &__controls {
    margin-top: 66px;
  }
}