.changeView {
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: end;
  &.base {
    display: block;
    width: fit-content;
    margin-top: 0px;
    .changeView__content {
      background-color: white;
      height: 40px;
    }
  }
  &__content {
    display: flex;
    align-items: center;

    max-width: 108px;
    border-radius: 8px;
    border: 1px solid rgba(231, 232, 241, 1);
    height: 36px;
    overflow: hidden;
    .changeView-check {
      position: relative;
      width: 54px;
      padding: 8px;
      opacity: 0.5;
      .check {
        position: absolute;
        width: 16px;
        height: 16px;
      }
      &:first-child {
        display: flex;
        align-items: center;
        border-right: 1px solid rgba(231, 232, 241, 1);
        padding-left: 26px;
      }
      &:last-child {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding-right: 26px;
      }
      &.active {
        opacity: 1;
        &:first-child {
          .check {
            left: 8px;
          }
        }
        &:last-child {
          .check {
            right: 8px;
          }
        }
      }
    }
  }
}
