@use "@/styles/variables/variables" as vars;

.home-header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  > div {
    flex: 0 0 50%;
  }

  &__left {
  }

  &__right {
    display: flex;
    flex-direction: column;

    &-top {
      height: calc(100% - 99px);
      border: 1px solid white;
      border-left: none;
      border-bottom: none;
      background: vars.$light-blue;
      border-radius: 0 16px 0 0;

      @media screen and (max-width: 900px) {
        height: calc(100% - 67px);
      }
    }

    &-bottom {
      height: 99px;
      border: 1px solid white;
      border-radius: 0 0 16px 16px;
      border-top: none;

      background: vars.$light-blue;

      @media screen and (max-width: 900px) {
        height: 67px;
      }
    }
  }

  &__greeting {
    background: vars.$light-blue;
    padding: 0 0 24px 24px;
    height: 183px;
    border: 1px solid white;
    border-radius: 16px 0 0 16px;
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    @media screen and (max-width: 900px) {
      height: 124px;
      padding: 0 0 16px 16px;
    }

    p {
      color: vars.$black-blue;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media screen and (max-width: 900px) {
        font-size: 24px;
      }
    }
  }

  &__create-wrapper {
    display: flex;
    align-items: flex-end;
    padding: 24px 24px 0 0;
    border-radius: 0 16px 0 0;

    @media screen and (max-width: 900px) {
      padding: 16px 16px 0 0;
    }

    @media screen and (max-width: 500px) {
      padding: 0;
      width: 100%;
    }
  }

  &__create {
    width: 100%;
    background: white;
    border-radius: 16px;
    border: 1px solid #dff0ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px 12px 24px;
    user-select: none;
    cursor: pointer;
    height: 75px;

    @media screen and (max-width: 900px) {
      padding: 10px 16px;
      height: 51px;
    }

    @media screen and (max-width: 500px) {
      padding: 12px;
      height: 43px;
    }

    p {
      color: vars.$gray-dark;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media screen and (max-width: 900px) {
        font-size: 14px;
      }
    }
  }

  &__create-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(
      --gradient,
      linear-gradient(180deg, #ebecff 0%, #dff0ff 100%)
    );
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 900px) {
      width: 32px;
      height: 32px;
    }
  }

  &__balance-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 0 24px 24px 0;
    gap: 8px;

    @media screen and (max-width: 900px) {
      padding: 0 16px 16px 0;
    }
  }

  &__balance-title {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    align-content: center;
    color: vars.$gray-dark;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 900px) {
      font-size: 14px;

      img {
        margin-top: -2px;
      }
    }
  }

  &__balance-content {
    width: 100%;
    color: vars.$gray-dark;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    text-align: end;

    @media screen and (max-width: 900px) {
      font-size: 36px;
    }

    @media screen and (max-width: 500px) {
      font-size: 24px;
    }
  }
}

.home-header-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  &__rectangle {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    height: 131px;
    border-radius: 8px;
    border: 1px solid var(--white, #fff);
    background: var(--light-blue, rgba(185, 208, 255, 0.15));
  }

  &__greeting {
    color: vars.$black-blue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
