@use '@/styles/variables/variables' as vars;

.home-header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    height: 183px;
    display: flex;
    position: relative;

    &-left {
      flex: 0 0 50%;
      display: flex;
      padding: 0 0 24px 24px;
      align-items: flex-end;
      border: 1px solid white;
      border-right: 0;
      border-radius: 16px 0 0 16px;
      background: vars.$light-blue;

      p {
        font-size: 32px;
        font-weight: 400;
        color: vars.$black-blue;
      }
    }

    &-right {
      flex: 0 0 50%;
      display: flex;
      border: 1px solid white;
      border-radius: 0 16px 0 0;
      border-left: 0;
      border-bottom: 0;
      background: vars.$light-blue;
    }
  }

  &__bottom {
    height: 99px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__create-wrapper {
    display: flex;
    align-items: flex-end;
    flex: 0 0 50%;
    height: 100%;
    padding: 24px 24px 0 0;
  }

  &__create {
    width: 100%;
    background: white;
    border-radius: 16px;
    border: 1px solid #DFF0FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px 12px 24px;
    user-select: none;
    cursor: pointer;

    p {
      color: vars.$gray-dark;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__create-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient, linear-gradient(180deg, #EBECFF 0%, #DFF0FF 100%));
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__balance-block {
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    background: vars.$light-blue;
    border: 1px solid white;
    border-top: none;
    border-radius: 16px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 0 24px 48px 0;
  }

  &__balance-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    img {
      width: 24px;
      height: 24px;
    }

    span {
      color: vars.$black-blue;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__balance-content {
    color: vars.$gray-dark;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
  }
}