.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10001111;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  animation: modalFadeIn 0.3s ease-in-out;

  &__content {
    position: relative;
    max-width: 415px;
    width: 100%;
    height: 618px;
    position: relative;

    background-color: white;
    border-radius: 16px;
  }

  &__close_button {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    img {
      filter: brightness(0) invert(1);
    }
    &:hover {
      opacity: 0.8;
    }
  }

  @keyframes modalFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
