@use '@/styles/mixins/title' as title;
@use '@/styles/variables/variables' as vars;

.auth-page__wrapper {
  min-height: calc(100vh - 84px);
  padding: 64px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 900px) {
    padding: 32px 0 49px 0;
  }

  @media screen and (max-width: 500px) {
    padding: 72px 0 16px 0;
  }
}

.auth-page {
  width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    width: 100%;
  }

  @media screen and (max-width: 900px) {
    width: 409px;
  }

  @media screen and (max-width: 500px) {
    width: 343px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @media screen and (max-width: 900px) {
      gap: 24px;
    }
  }

  &__title-block {
    width: 640px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (max-width: 900px) {
      width: 432px;
    }

    @media screen and (max-width: 500px) {
      width: 320px;
    }
  }

  &__title {
    @include title.title();
  }

  &__subtitle {
    @include title.subtitle();
  }

  &__switch {
    width: 100%;
  }

  &__form-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    @media screen and (max-width: 900px) {
      gap: 24px;
    }
  }

  &__footer {
    margin-top: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }
}

.auth-form {
  width: 100%;
  height: 255px;
  background: vars.$light-blue;
  border-radius: 16px;
  padding: 48px;

  @media screen and (max-width: 900px) {
    height: 238px;
    padding: 32px 48px;
  }

  @media screen and (max-width: 500px) {
    height: 265px;
    padding: 32px 16px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }

  &__title {
    @include title.title(
            $font-size: 32px,
            $tablet-font-size: 20px,
            $mobile-font-size: 20px,
            $font-weight: 400,
            $line-height: normal,
            $font-style: normal,
            $font-color: vars.$gray-dark
    )
  }

  &__subtitle {
    @include title.subtitle(
            $font-size: 16px,
            $tablet-font-size: 14px,
            $mobile-font-size: 14px,
            $font-weight: 400,
            $line-height: normal,
            $font-style: normal,
            $font-color: vars.$gray-dark
    )
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 24px;

    > * {
      flex: 1;
      max-width: 250px;
    }

    @media screen and (max-width: 900px) {
      margin-top: 24px;
      flex-direction: column;
      gap: 8px;
    }

    @media screen and (max-width: 500px) {
      margin-top: 32px;

      > * {
        max-width: 311px;
      }
    }
  }
}