@use '@/styles/variables/variables' as vars;

.input-phone {
  width: 100%;

  &__title {
    width: 100%;
    color: vars.$gray-dark;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__input-block {
    margin-top: 8px;
    width: 100%;
    height: 51px;
    border: 1px solid vars.$white-gray-2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:focus {
      outline: none;
      border: 1px solid vars.$blue;
    }
  }

  &__input {
    color: vars.$light-gray;
    font-size: 16px;
    font-family: 'Satoshi', sans-serif;
    padding: 16px;
    text-align: left;
    border: none;
    background: none;

    &::placeholder {
      font-size: 14px;
      color: gray;
      letter-spacing: 0;
      font-family: 'Satoshi', sans-serif;
    }

    &:focus {
      outline: none;
    }
  }

  &__menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;


  }

  &.error {
    .text-input__title {
      color: vars.$error;
    }

    .text-input__input {
      border: 1px solid vars.$error;

      &:focus {
        outline: none;
        border: 1px solid vars.$error;
      }
    }
  }
}