@use '@/styles/variables/variables' as vars;

.input-phone {
  width: 100%;
  position: relative;

  &__title {
    width: 100%;
    color: vars.$gray-dark;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__input-block {
    position: relative;
    z-index: 10;
    margin-top: 8px;
    width: 100%;
    height: 51px;
    border: 1px solid vars.$white-gray-2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: white;

    &:focus-within {
      outline: none;
      border: 1px solid vars.$blue;
    }
  }

  &__menu-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 12px 12px 16px;
    background: vars.$light-blue;
    height: 100%;
    cursor: pointer;
    user-select: none;
    flex: 0 0 68px;
  }

  &__flag {
    font-family: 'Noto Color Emoji', sans-serif;
  }

  &__input {
    flex: 1;
    font-size: 16px;
    font-family: 'Satoshi', sans-serif;
    padding: 16px;
    text-align: left;
    border: none;
    background: none;
    color: vars.$gray-dark;

    &::placeholder {
      font-size: 14px;
      color: vars.$light-gray;
      letter-spacing: 0;
      font-family: 'Satoshi', sans-serif;
    }

    &:focus {
      outline: none;
    }
  }

  &__dropdown {
    z-index: 9;
    position: absolute;
    top: calc(100% - 8px);
    padding: 8px 16px;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.2s ease, opacity 0.3s ease;
    border-radius: 0 0 8px 8px;
    border: 1px solid vars.$blue;
    background: #fff;

    &--visible {
      height: 193px;
      opacity: 1;
    }
  }

  &__dropdown-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: none;
    padding: 12px 8px;
    border-bottom: 1px solid var(--white-gray-20, #E7E8F1);
    gap: 12px;
  }

  &__dropdown-search-input {
    width: 100%;
    font-size: 14px;
    font-family: 'Satoshi', sans-serif;
    text-align: left;
    border: none;
    background: none;
    color: vars.$black-blue;

    &::placeholder {
      font-size: 14px;
      color: vars.$light-gray;
      letter-spacing: 0;
      font-family: 'Satoshi', sans-serif;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__dropdown-list {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
  }

  &__dropdown-list-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    user-select: none;
    cursor: pointer;

    &-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }

    &-country {
      color: vars.$gray-dark;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &--error {
    .text-input__title {
      color: vars.$error;
    }

    .text-input__input {
      border: 1px solid vars.$error;

      &:focus {
        outline: none;
        border: 1px solid vars.$error;
      }
    }
  }
}