@use "@/styles/variables/_variables.scss" as vars;

.user-menu {
  position: fixed;
  inset: 0;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.18s ease, visibility 0.18s ease;

  &--open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__dropdown {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;

    max-width: 288px;
    width: 288px;

    background: #ffffff;
    border: 1px solid #EBECFF;
    border-radius: 0 0 0 16px;
    padding: 32px 0 16px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    pointer-events: none;

    transition:
      opacity 0.2s ease,
      transform 0.2s ease,
      visibility 0.2s ease;

    &--open {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      visibility: visible;
    }

    @media screen and (max-width: 940px) {
      padding: 16px 0 16px 0;
      //border-radius: 0;

      height: 430px;
      overflow: auto;
    }
    @media screen and (max-width: 500px) {
      border-radius: 0;
      max-width: 100%;
      width: 100%;
      height: fit-content;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px 16px 32px;

      @media screen and (max-width: 900px) {
        padding: 0 40px 16px 16px;
      }
      @media screen and (max-width: 500px) {
        padding: 0 16px 16px 16px;
      }

      &-info {
        display: flex;
        align-items: center;
        gap: 9px;

        &-avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;

          @media screen and (max-width: 900px) {
            width: 44px;
            height: 44px;
          }
        }
        &-text {
          font-weight: 500;
          font-size: 20px;

          @media screen and (max-width: 900px) {
            font-size: 18px;
          }
        }
      }

      &-close {
        cursor: pointer;
        transition: opacity 0.2s ease;
        &:hover {
          opacity: 0.6;
        }
      }
    }

    &-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      padding: 16px 0 16px 0;
      border-bottom: 1px solid vars.$white-gray-2;
      border-top: 1px solid vars.$white-gray-2;

      @media screen and (max-width: 900px) {
        padding: 8px 0 8px 0;
      }

      &-link {
        display: flex;
        align-self: stretch;
        align-items: center;
        gap: 16px;
        padding: 12px 24px 12px 32px;
        font-size: 18px;
        color: vars.$black;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background: vars.$light-blue;
          border-radius: 8px;
        }

        @media screen and (max-width: 900px) {
          font-size: 16px;
          padding: 8px 40px 8px 16px;
        }
        @media screen and (max-width: 500px) {
          padding: 8px 16px;
        }
      }

      &-divider {
        width: 100%;
        height: 1px;
        background: vars.$white-gray-2;
      }
    }

    &-logout {
      margin-top: 8px;
      border-radius: 8px;
      width: 100%;
      padding: 12px 24px 12px 32px;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      background: transparent;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background: vars.$light-blue;
      }

      //@media screen and (max-width: 900px) {
      //  padding: 8px 40px 8px 16px;
      //}
      //@media screen and (max-width: 500px) {
      //  padding: 16px;
      //}
    }

    &-terms {
      text-decoration: underline;
      padding: 12px 24px 12px 32px;
      display: flex;
      align-self: stretch;
      align-items: center;
      justify-content: center;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }

      //@media screen and (max-width: 900px) {
      //  padding: 12px 40px 4px 16px;
      //}
      //@media screen and (max-width: 500px) {
      //  padding: 16px;
      //}
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .user-menu,
    .user-menu__dropdown {
      transition: none !important;
      transform: none !important;
    }
  }
}