.Campaign_Creator_Page {
  &__head {
    .navmenu {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h1 {
      font-weight: 400;
      font-style: Regular;
      font-size: 46px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      @media screen and (max-width: 500px) {
        font-size: 30px;
      }
    }
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
