// src/styles/_scrollbars.scss

@mixin scrollbar-dotted-vertical {
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background: linear-gradient(
      to right,
      transparent 0,
      transparent 45%,
      rgba(185, 208, 255, 1) 45%,
      rgba(185, 208, 255, 1) 55%,
      transparent 55%,
      transparent 100%
    );
  }

  &::-webkit-scrollbar-thumb {
    background: radial-gradient(
        circle farthest-corner,
        rgba(231, 232, 241, 1) 0%,
        rgba(231, 232, 241, 1) 50%,
        transparent 50%,
        transparent 100%
      )
      no-repeat;

    background-size: auto 11px;
    background-position: center;
  }
}

@mixin scrollbar-thin-horizontal {
  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(231, 232, 241, 1);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(185, 208, 255, 1);
    border-radius: 3px;
  }
}
