@use "@/styles/variables/variables" as vars;

.new-promos {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 64px;
  gap: 16px;

  @media screen and (max-width: 900px) {
    padding-bottom: 32px;
  }
  @media screen and (max-width: 500px) {
    padding-bottom: 24px;
  }

  &__quantity {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: auto;
    background: vars.$light-blue;

    @media screen and (max-width: 900px) {
      gap: 4px;
    }
    @media screen and (max-width: 500px) {
      height: 32px;
      padding: 4px 12px;
    }
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: vars.$black;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    border: 1px solid vars.$blue;
    border-radius: 4px;
    padding: 2px 8px;
    background: #fff;

    font-size: 16px;
    text-align: center;
    color: vars.$black;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }
  }

  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 48px 40px;

    @media screen and (max-width: 900px) {
      padding: 32px 16px;
    }

    @media screen and (max-width: 500px) {
      padding: 24px 16px 32px;
    }

    &-image {
      width: 100px;
      height: 100px;
      margin-bottom: 32px;

      @media screen and (max-width: 900px) {
        width: 72px;
        height: 72px;
      }
      @media screen and (max-width: 900px) {
        margin-bottom: 24px;
      }
    }

    &-header {
      //margin-top: 32px;
      margin-bottom: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      @media screen and (max-width: 900px) {
        //margin-top: 32px;
        margin-bottom: 24px;
      }
      @media screen and (max-width: 500px) {
        //margin-top: 24px;
        margin-bottom: 24px;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 40px;

      @media screen and (max-width: 900px) {
        font-size: 32px;
      }
      @media screen and (max-width: 500px) {
        font-size: 24px;
      }
    }

    &-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
    &-subtitle {
      font-weight: 400;
      font-size: 20px;
      color: vars.$gray;

      @media screen and (max-width: 900px) {
        font-size: 16px;
        text-align: center;
      }
      @media screen and (max-width: 500px) {
        font-size: 15px;
      }
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
      color: vars.$gray;

      @media screen and (max-width: 900px) {
        font-size: 14px;
        text-align: center;
      }
      @media screen and (max-width: 500px) {
        font-size: 13px;
      }
    }
  }
}
