@use "@/styles/variables/variables" as vars;

.social-accounts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px 16px;
    border-radius: 8px;

    //TODO: move to mixin glass
    background: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(3px) contrast(1.08) saturate(1.2);
    -webkit-backdrop-filter: blur(3px) contrast(1.08) saturate(1.2);
    border: 1px solid rgba(231, 232, 241, 0.55);

    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.25),
      0 0 4px rgba(200, 225, 255, 0.25), 0 6px 12px rgba(0, 0, 0, 0.04);

    @media screen and (max-width: 900px) {
      padding: 8px 12px;
    }

    @media screen and (max-width: 500px) {
      padding: 8px;
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-meta {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-icon {
      @media screen and (max-width: 500px) {
        width: 34px;
        height: 34px;
      }
    }

    &-label {
      font-size: 16px;

      @media screen and (max-width: 900px) {
        font-size: 15px;
      }

      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
    }

    &-create {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 88px;
      padding: 8px 16px;
      border-radius: 8px;
      border: 1px solid vars.$white-gray-2;
      background: rgba(255, 255, 255, 1);
      transition: all 0.2s ease;

      font-size: 14px;
      font-weight: 500;

      & >img {
        width: 18px;
        height: 18px;
        aspect-ratio: 1/1;
      }

      &:hover {
        background-color: vars.$hover-button-2;
      }

      @media screen and (max-width: 500px) {
        width: 66px;
        padding: 4px 8px;
        font-size: 13px;
      }
    }
  }
}

.accounts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 12px;

    > span {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid vars.$white-gray-2;
      border-radius: 4px;
    }
  }
}

/*
      TODO: variants of glass effect for list item
      1)
        background: rgb(255, 255, 255, 0.5);
        backdrop-filter: blur(6px) saturate(1.2);
        -webkit-backdrop-filter: blur(6px)saturate(1.2);
        border: 1px solid rgba(231, 232, 241, 0.55);

        box-shadow:
          inset 1px 1px rgba(255, 255, 255, 0.6),
          inset 0 -1px 1px rgba(0, 0, 0, 0.04),
          0 6px 12px rgba(0, 0, 0, 0.06);
      2)
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.75),
          rgba(255, 255, 255, 0.45)
        );

        backdrop-filter: blur(8px) contrast(1.05) saturate(1.25);
        -webkit-backdrop-filter: blur(8px) contrast(1.05) saturate(1.25);
        border-radius: 8px;
        border: 1px solid rgba(231, 232, 241, 0.55);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8),
        inset 0 -2px 4px rgba(0, 0, 0, 0.06),
        0 4px 10px rgba(0, 0, 0, 0.05),
        0 0 0.5px rgba(255, 255, 255, 0.8);

      3)
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px) saturate(1.3);
        -webkit-backdrop-filter: blur(10px) saturate(1.3);
        border-radius: 8px;
        border: 1px solid rgba(231, 232, 241, 0.55);

        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.9),
          inset 0 -1px 2px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.08),
          0 0 12px rgba(255, 255, 255, 0.3);
    */
