@use "@/styles/variables/variables" as vars;

.history-link {
  display: inline-flex;
  padding: 12px 16px;
  background: #ffffff;
  border-radius: 8px;
  transition: all 0.2s ease;
  border: 1px solid #ecedff;
  height: fit-content;

  &:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  }

  @media screen and (max-width: 900px) {
    padding: 8px 12px;
  }

  @media screen and (max-width: 600px) {
    height: 46px;
  }

  @media screen and (max-width: 500px) {
    padding: 12px;
    width: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: vars.$gray-dark;
    gap: 8px;
    width: 100%;

    @media screen and (max-width: 900px) {
      font-size: 14px;
      > img {
        width: 20px;
        height: 20px;
      }
    }

    @media screen and (max-width: 500px) {
      justify-content: space-between;
      > img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

// z-index: 1;
// &::before {
//   content: "";
//   position: absolute;
//   inset: 0;

//   padding: 0.5px;
//   border-radius: inherit;

//   background: linear-gradient(180deg, #ecedff, rgba(185, 208, 255, 0.8));

//   -webkit-mask: linear-gradient(#fff 0 0) content-box,
//     linear-gradient(#fff 0 0);
//   -webkit-mask-composite: xor;
//   mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
//   mask-composite: exclude;
// }
