@use "@/styles/variables/variables" as vars;

.dashboard {
  padding-top: 24px;

  &__hero-wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 16px;
    margin-bottom: 42px;

    @media screen and (max-width: 900px) {
      margin-bottom: 16px;
    }
    @media screen and (max-width: 600px) {
      margin-bottom: 24px;
    }
  }

  &__hero-links {
    display: none;
    flex-direction: column;
    gap: 16px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      display: flex;
    }
  }

  &__top-bar {
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    &-title {
      font-weight: 400;
      font-size: 20px;
      line-height: 110%;

      @media screen and (max-width: 900px) {
        font-size: 16px;
      }

      @media screen and (max-width: 750px) {
        height: 36px;
        text-align: center;
        padding-top: 10px;
      }

      @media screen and (max-width: 500px) {
        font-size: 15px;
      }
    }
    &-actions {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 8px;

      @media screen and (max-width: 800px) {
        width: 100%;
        margin-left: 0;
        justify-content: space-between;
      }

      @media screen and (max-width: 750px) {
        justify-content: flex-end;
      }
    }
  }
}