@use "@/styles/variables/variables" as vars;
@use "@/styles/mixins/title" as title;

.invoices-details {
  padding-top: 24px;

  &__header {
    margin-top: 40px;
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    &-title {
      @include title.title();
    }

    &-subtitle {
      @include title.subtitle();
    }
  }

  &__table {
    margin: 0 auto;
    max-width: 1244px;

    padding: 0px 10px 64px 10px;

    @media screen and (max-width: 900px) {
      padding: 0 40px 32px 40px;
    }
    @media screen and (max-width: 500px) {
      padding: 0 16px 32px 16px;
    }
  }

  &__scroll-container {
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: vars.$black-blue;
    }

    margin-right: calc(50% - 50vw);
    padding-right: calc(50vw - 50%);
  }
}
