@use "@/styles/scrollbars/_scrollbars.scss" as sb;
.live-view {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  overflow-x: scroll;
  .live-view-card {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
    max-width: 357px;

    height: 810px;
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);

    border: 1px solid rgb(231, 232, 241);
  }
  &__card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__video {
    min-width: 325px;

    height: 303px;
    border-radius: 8px;
    background-color: gray;
  }
  &__fill-data {
    h3,
    .fill-input p,
    .network p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
  &__fill-data {
    width: 100%;
    h3 {
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
    }
    .fill-input {
      display: flex;
      align-items: start;
      gap: 8px;
      padding: 12px 8px;
      border-radius: 8px;
      border: 1px solid rgb(231, 232, 241);
    }
    .fill-input-audience {
      display: flex;
      justify-content: space-between;
      .audience {
        math-depth: 4px;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid rgb(231, 232, 241);
      }
    }
    .network {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 8px;
      border-radius: 8px;
      border: 1px solid rgb(231, 232, 241);
      max-height: 168px;
      overflow-y: auto;
      @include sb.scrollbar-dotted-vertical;
      &__row {
        display: flex;
        align-items: center;
        gap: 16px;
        img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
      }
      &__row-logo {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}
