.account-setup-form-content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (max-width: 700px) {
    gap: 24px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 64px;
    gap: 24px;

    @media screen and (max-width: 900px) {
      margin-top: 32px;
    }

    @media screen and (max-width: 500px) {
      margin-top: 24px;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__modal {
    display: flex;
    flex-direction: column;
    padding: 56px 80px;
    gap: 56px;

    @media screen and (max-width: 500px) {
      gap: 40px;
      padding: 32px 16px;
    }

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      @media screen and (max-width: 500px) {
        gap: 4px;
      }

      &-title {
        font-weight: 400;
        font-size: 40px;

        @media screen and (max-width: 500px) {
          font-size: 24px;
        }
      }
      &-subtitle {
        font-size: 20px;

        @media screen and (max-width: 500px) {
          font-size: 15px;
        }
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 27px;
      width: 100%;

      @media screen and (max-width: 500px) {
        flex-direction: column-reverse;
        gap: 8px;
      }
    }
  }
}
