.toggleTables {
  margin: 16px 0px;
  display: flex;
  justify-content: end;
  height: 34px;
  &__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid rgba(185, 208, 255, 1);
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    &.active {
      background: linear-gradient(180deg, #ebecff 0%, #dff0ff 100%);
    }
  }
}
