.build-compaign {
  margin-top: 26px;
  &__title {
    h2 {
      font-weight: 400;
      font-style: Regular;
      font-size: 46px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      @media (max-width: 500px) {
        font-size: 30px;
      }
    }
    p {
      margin-top: 8px;
      font-weight: 400;
      font-style: Regular;
      font-size: 20px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      @media (max-width: 500px) {
        font-size: 15px;
      }
    }
  }
  &__content {
    margin-top: 24px;
    .toolbar {
      width: 100%;
      display: flex;
      align-items: center;
      @media (max-width: 900px) {
        flex-direction: column;
      }
      &__finput {
        display: flex;
        gap: 8px;
        width: 100%;
        @media (max-width: 900px) {
          max-width: 100%;
          flex: 1 1 auto;
        }
        .filter_flag {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          max-width: 184px;
          width: 100%;
          height: 48px;
          border-radius: 8px;
          background-color: rgba(255, 255, 255, 1);
          border: 1px solid rgba(231, 232, 241, 1);
          &.active {
            border: 1px solid rgba(185, 208, 255, 1);
          }
          @media (max-width: 900px) {
            max-width: 42px;
            height: 42px;
            p {
              display: none;
            }
          }
        }
      }
      .selects {
        display: flex;
        width: 100%;
        max-width: 472px;
        @media (max-width: 900px) {
          margin-top: 8px;
          justify-content: space-between;
          max-width: 100%;
        }
      }
    }
    .changeView {
      margin-top: 16px;
      width: 100%;
      display: flex;
      justify-content: end;
      ul {
        display: flex;
        align-items: center;

        max-width: 108px;
        border-radius: 8px;
        border: 1px solid rgba(231, 232, 241, 1);
        height: 36px;
        overflow: hidden;
        li {
          width: 54px;
          padding: 8px;
          opacity: 0.5;
          .check {
            width: 16px;
            height: 16px;
          }
          &:first-child {
            display: flex;
            align-items: center;
            border-right: 1px solid rgba(231, 232, 241, 1);
            padding-left: 26px;
          }
          &:last-child {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            padding-right: 26px;
          }
          &.active {
            opacity: 1;
            &:first-child {
              display: flex;
              align-items: center;
              border-right: 1px solid rgba(231, 232, 241, 1);
              padding-left: 6px;
            }
            &:last-child {
              display: flex;
              align-items: center;
              flex-direction: row-reverse;
              padding-right: 6px;
            }
          }
        }
      }
    }
    .build-compaign__content_functional {
      margin-top: 16px;
      display: flex;
      gap: 16px;
      @media (max-width: 600px) {
        flex-direction: column;
      }
      &.tableAdaptive {
        @media (max-width: 835px) {
          flex-direction: column;
        }
      }
    }
  }
}
