@use "@/styles/variables/variables" as vars;
@use "@/styles/mixins/title" as title;

.signup-influencer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  width: 600px;

  padding: 64px 0 140px;
  margin: 0 auto;

  @media screen and (max-width: 900px) {
    width: 545px;
    padding: 32px 0 32px;
    gap: 0;
  }

  @media screen and (max-width: 700px) {
    width: 100%;
    padding: 24px 25px 24px;
  }

  @media screen and (max-width: 500px) {
    padding: 24px 16px 12px;
    gap: 24px;
  }

  > div {
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @media screen and (max-width: 900px) {
      margin-bottom: 24px;
    }

    @media screen and (max-width: 500px) {
      margin-bottom: 0;
      gap: 4px;
    }
  }

  &__title {
    @include title.title();
  }
  &__subtitle {
    @include title.subtitle($font-color: vars.$gray);
  }

  &__inputs-label {
    margin-bottom: 16px;
    text-align: center;
    font-size: 24px;

    @media screen and (max-width: 500px) {
      font-size: 16px;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (max-width: 900px) {
      margin-bottom: 48px;
    }

    @media screen and (max-width: 500px) {
      margin-bottom: 0;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (max-width: 900px) {
      margin-bottom: 32px;
    }

    @media screen and (max-width: 500px) {
      margin-bottom: 0;
    }
  }

  &__socials-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__socials-title {
    font-size: 24px;
    @media screen and (max-width: 500px) {
      font-size: 16px;
    }
  }

  &__socials-subtitle {
    font-size: 16px;
    @media screen and (max-width: 500px) {
      font-size: 14px;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    font-size: 15px;

    @media screen and (max-width: 500px) {
      width: 100%;
      font-size: 13px;
    }
  }

  &__error {
    width: 100%;
    color: vars.$error;
    font-size: 12px;
    text-align: center;
    //margin-top: 24px;
    //margin-bottom: 24px;
    border-bottom: 1px solid vars.$error;
    //padding-bottom: 4px;

    @media screen and (max-width: 500px) {
      //font-size: 12px;
    }
  }
}
