@use "@/styles/variables/variables" as vars;

.checkbox-button-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (max-width: 500px) {
    gap: 16px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid vars.$blue;
    padding-bottom: 4px;
    font-size: 24px;
    transition: border-color 0.2s ease-in-out;

    @media screen and (max-width: 900px) {
      font-size: 20px;
    }

    &--error {
      border-bottom: 1px solid vars.$error;
    }
  }

  &__error {
    color: vars.$error;
    font-size: 12px;
  }

  &__subtitle {
    font-size: 16px;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }

    @media screen and (max-width: 500px) {
      font-size: 14px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      cursor: pointer;
      color: vars.$gray-dark;
      @media screen and (max-width: 500px) {
        font-size: 14px;
      }

      &--error {
        color: vars.$error;
      }
    }

    &-parent {
      display: flex;
      align-items: center;
      gap: 16px;
      @media screen and (max-width: 900px) {
        gap: 8px;
      }
    }

    input[type="checkbox"] {
      appearance: none;
      position: relative;
      width: 16px;
      height: 16px;
      margin-top: 3px;
      margin-bottom: 3px;
      border: 1px solid #000;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s ease;
      flex-shrink: 0;

      @media screen and (max-width: 500px) {
        margin-top: 1.5px;
        margin-bottom: 1.5px;
      }
    }

    input[type="checkbox"]::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: #000;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.2s ease;
    }

    input[type="checkbox"]:checked::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__children {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 32px;
    
    @media screen and (max-width: 500px) {
      margin-left: 24px;
    }
  }

  &__child-item {
    display: flex;
    align-items: center;
    gap: 16px;

    @media screen and (max-width: 500px) {
      gap: 8px;
    }
  }
}
