.build-compaign {
  margin-top: 26px;
  &__title {
    h2 {
      font-weight: 400;
      font-style: Regular;
      font-size: 46px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      @media screen and (max-width: 500px) {
        font-size: 30px;
      }
    }
    p {
      margin-top: 8px;
      font-weight: 400;
      font-style: Regular;
      font-size: 20px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      @media screen and (max-width: 500px) {
        font-size: 15px;
      }
    }
  }
  &__content {
    margin-top: 24px;
    .toolbar {
      width: 100%;
      display: flex;
      align-items: center;
      @media screen and (max-width: 900px) {
        flex-direction: column;
      }
      &__finput {
        display: flex;
        gap: 8px;
        width: 100%;
        @media screen and (max-width: 900px) {
          max-width: 100%;
          flex: 1 1 auto;
        }
        .filter_flag {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          max-width: 184px;
          width: 100%;
          height: 48px;
          border-radius: 8px;
          background-color: rgba(255, 255, 255, 1);
          border: 1px solid rgba(231, 232, 241, 1);
          &.active {
            border: 1px solid rgba(185, 208, 255, 1);
          }
          @media screen and (max-width: 900px) {
            max-width: 42px;
            height: 42px;
            p {
              display: none;
            }
          }
        }
      }
      .selects {
        display: flex;
        width: 100%;
        max-width: 472px;
        gap: 24px;
        @media screen and (max-width: 900px) {
          gap: 16px;
          margin-top: 8px;
          justify-content: space-between;
          max-width: 100%;
        }
      }
    }

    .build-compaign__content_functional {
      margin-top: 16px;
      display: flex;
      gap: 16px;
      @media screen and (max-width: 900px) {
        flex-direction: column;
      }
      &.tableAdaptive {
        @media screen and (max-width: 600px) {
          flex-direction: column;
        }
      }
    }
  }
}
