$black-blue: #202934;
$white-gray-2: #E7E8F1;
$gray-dark: #2A2A2A;
$brightest-gradient: linear-gradient(108deg, #BCE8FF 3.56%, rgba(218, 244, 255, 0.94) 50.39%, rgba(191, 216, 255, 0.89) 79.14%, rgba(164, 188, 255, 0.85) 100%);
$light-blue: rgba(185, 208, 255, 0.15);
$hover-button-1: rgba(32, 41, 52, 0.80);
$hover-button-2: #F3F3F3;
$pressed-button-1: #E1E2ED;
$disabled-button-1: #ECEEF0;
$blue: #B9D0FF;
$error: #E11920;
$gray: #515259;