.bc_filter {
  max-width: 312px;
  width: 100%;
  padding: 16px;
  background-color: white;
  border: 1px solid;
  border: 1px solid rgba(231, 232, 241, 1);
  border-radius: 8px;
  @media screen and (max-width: 900px) {
    max-width: 100%;
  }
  &.bc_filterForTable {
    @media screen and (max-width: 600px) {
      max-width: 100%;
      .blockWithMethod {
        max-width: 100%;
        width: 100%;
      }
    }
  }
  &__sticky {
    position: sticky;
    top: 30px;
  }
  &__head {
    position: relative;
    display: flex;
    justify-content: center;
    h3 {
      font-weight: 400;
      font-style: Regular;
      font-size: 20px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
    }
    img {
      position: absolute;
      right: 0px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    overflow-y: auto;
    max-height: 800px;
    &::-webkit-scrollbar {
      display: none;
    }
    .dropdown_filter {
      &__head {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 12px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(231, 232, 241, 1);
        border-radius: 4px;
        p {
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
        }
        img {
          &.active {
            transform: rotate(180deg);
          }
        }
      }
      .blockWithMethod {
        margin: 16px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px;
        max-width: 280px;
        width: 100%;
        border-radius: 32px;
        border: 1px solid rgba(231, 232, 241, 1);
        li {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 128px;
          width: 100%;
          height: 27px;
          border-radius: 24px;
          font-size: 14px;
          &.active {
            background: linear-gradient(180deg, #ebecff 0%, #dff0ff 100%);
          }
        }
      }
      .chooseContainer {
        padding: 10px 12px;
        position: relative;

        .choose {
          display: flex;
          align-items: center;
          gap: 16px;
          span {
            position: absolute;
            right: 12px;
          }
          input[type="checkbox"] {
            appearance: none;
            width: 18px;
            height: 18px;
            border: 2px solid #000;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            cursor: pointer;
            transition: all 0.2s ease;
          }

          input[type="checkbox"]::after {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background: #000;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.2s ease;
          }

          input[type="checkbox"]:checked::after {
            transform: translate(-50%, -50%) scale(1);
          }
          &__home {
            .parent_item {
              display: flex;
              align-items: center;
              gap: 8px;
            }
            .children {
              display: flex;
              flex-direction: column;
              gap: 8px;
              margin-top: 10px;
              margin-left: 40px;
            }
          }
        }
      }
    }
  }
}
