@use "@/styles/variables/variables" as vars;

.price-input {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__label {
    font-size: 16px;
    color: vars.$gray-dark;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }

    @media screen and (max-width: 500px) {
      font-size: 14px;
    }
  }

  &__input {
    background: #fff;
    border: 1px solid vars.$white-gray-2;
    border-radius: 8px;
    padding: 16px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
