.distributing-page {
  padding-top: 24px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (max-width: 900px) {
    padding-bottom: 32px;
    gap: 32px;
  }

  @media screen and (max-width: 500px) {
    padding-bottom: 24px;
    gap: 24px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;

    @media screen and (max-width: 900px) {
      gap: 48px;
    }
    
    @media screen and (max-width: 500px) {
      gap: 24px;
    }
  }
}
