.distributing-page {
  padding-top: 24px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (max-width: 900px) {
    padding-bottom: 48px;
  }

  //TODO: mb for 500px
}
