.button-view-more {
  margin: 64px auto 88px;
  max-width: 250px;
  @media screen and (max-width: 900px) {
    margin: 64px 0 110px;
  }
  @media screen and (max-width: 500px) {
    margin: 64px 0 22px;
  }
}
