.proceed {
  position: fixed;
  top: 25%;
  transform: translateY(-50%);
  right: 0;
  width: 133px;
  height: 166px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgba(226, 236, 250, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  z-index: 1000;
}
