.bc_card {
  cursor: pointer;
  position: relative;
  max-width: 288px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 24px;
  border: 1px solid;
  border-radius: 8px;
  border: 1px solid;
  @media screen and (max-width: 575px) {
    max-width: 100%;
  }
  border: 1px solid rgba(185, 208, 255, 1);

  max-height: 158px;
  height: 100%;
  &.open {
    border: 1px solid rgba(185, 208, 255, 1);
  }
  &.active {
    background-color: rgba(235, 245, 254, 1);
    border: 1px solid rgba(185, 208, 255, 1);
  }
  &.include {
    background: linear-gradient(
      107.52deg,
      #bce8ff 3.56%,
      rgba(218, 244, 255, 0.94) 50.39%,
      rgba(191, 216, 255, 0.895) 79.14%,
      rgba(164, 188, 255, 0.85) 100%
    );
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cost {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        filter: grayscale(100%);
      }
      p {
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: capitalize;
      }
    }
    .social {
      display: flex;
      align-items: center;
      gap: 5px;

      p {
        min-width: 50px;
      }
      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }
  }
  .information {
    margin-top: 24px;
    .overflow {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .genresIcountries {
      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .included-text {
    margin-top: 9px;
    border-radius: 16px;
    background-color: white;
    pad: 1px;
    p {
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
    }
  }
}
