.bc_card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 288px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 8px 16px;

  border: 1px solid;
  border-radius: 8px;
  @media screen and (max-width: 575px) {
    max-width: 100%;
  }
  border: 1px solid rgba(185, 208, 255, 1);

  max-height: 158px;
  height: 110px;
  &.open {
    border: 1px solid rgba(185, 208, 255, 1);
  }
  &.active {
    background-color: rgba(235, 245, 254, 1);
    border: 1px solid rgba(185, 208, 255, 1);
  }
  &.include {
    background: linear-gradient(
                    107.52deg,
                    #bce8ff 3.56%,
                    rgba(218, 244, 255, 0.94) 50.39%,
                    rgba(191, 216, 255, 0.895) 79.14%,
                    rgba(164, 188, 255, 0.85) 100%
    );
    .information{
      margin-top: 12px;
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cost {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        filter: grayscale(100%);
      }
      p {
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        leading-trim: NONE;
        letter-spacing: 0%;
        text-transform: capitalize;
      }
    }
    .social {
      display: flex;
      align-items: center;
      gap: 5px;


      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }
  }
  .information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    .overflow {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &__head {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 24px;
      border: 1px solid rgb(185, 208, 255);
      background-color: white;
      opacity: 0.5;
      border-radius: 4px;
      &.active {
        opacity: 1;
      }
    }
  }
  .included-text {
    margin-top: 9px;
    border-radius: 16px;
    background-color: white;
    padding: 2px;
    p {
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      leading-trim: NONE;
      letter-spacing: 0%;
      text-align: center;
    }
  }
}
