.information_popUp {
  position: absolute;
  background: white;
  width: calc(100% + 2px);
  border: 1px solid rgba(185, 208, 255, 1);
  padding: 24px 12px;
  left: -1px;
  right: 0;
  margin-top: 16px;
  z-index: 100;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  &__content {
    max-height: 280px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  &.selected {
    background-color: rgba(235, 245, 254, 1);
  }
  &.isInclude {
    margin-top: 28px;
    background: linear-gradient(
      107.52deg,
      #bce8ff 3.56%,
      rgba(218, 244, 255, 0.94) 50.39%,
      rgba(191, 216, 255, 0.895) 79.14%,
      rgba(164, 188, 255, 0.85) 100%
    );
  }
  &.flag {
    top: 23px;
    ul {
      li {
        font-size: 12px;
      }
    }
  }
  .genres {
    h3 {
      font-weight: normal;
      border-bottom: 1px solid rgba(185, 208, 255, 1);
    }
    ul {
      margin-top: 14px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      li {
        flex: 0 0 auto;
        padding: 4px 12px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(231, 232, 241, 1);
        border-radius: 4px;
        font-size: 12px;
      }
    }
  }
  .countries {
    margin-top: 16px;
    h3 {
      font-weight: normal;
      border-bottom: 1px solid rgba(185, 208, 255, 1);
    }
    ul {
      margin-top: 14px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      li {
        padding: 4px 12px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(231, 232, 241, 1);
        border-radius: 4px;
        font-size: 12px;
      }
    }
  }
}
