@use "@/styles/scrollbars/_scrollbars.scss" as sb;
.campaign-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  &.active {
    .campaign-card__header {
      border: 1px solid rgba(14, 116, 220, 1);
    }
    .campaign-card__title-section {
      background: linear-gradient(
        107.52deg,
        #bce8ff 3.56%,
        rgba(218, 244, 255, 0.94) 50.39%,
        rgba(191, 216, 255, 0.895) 79.14%,
        rgba(164, 188, 255, 0.85) 100%
      );
    }
    .button {
      background-color: rgba(14, 116, 220, 1);
      transition: none;
      &:active {
        p {
          color: white;
        }
      }
    }
    .campaign-card__accounts {
      border-left: 1px solid rgba(14, 116, 220, 1);
      border-right: 1px solid rgba(14, 116, 220, 1);
      transition: 0.2s ease;
      border-bottom: 1px solid rgba(14, 116, 220, 1);
    }
  }
  &__header {
    max-width: 288px;
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(231, 232, 241, 1);
    transition: 0.2s ease;
    border-radius: 24px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 16px;
      padding: 0px 16px;
      li {
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(24, 24, 28, 1);
      }
    }
    .button {
      margin-top: 24px;
      max-width: 272px;
      margin-bottom: 8px;
    }
  }
  &__title-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 272px;
    width: 100%;
    height: 156px;
    background: linear-gradient(180deg, #ebecff 0%, #dff0ff 100%);
    padding: 16px;

    border-radius: 16px;
    h2 {
      font-weight: 500;
      font-style: Medium;
      font-size: 24px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      color: rgba(42, 42, 42, 1);
    }
    p {
      font-weight: 400;
      font-style: Regular;
      font-size: 36px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      color: rgba(42, 42, 42, 1);
    }
  }
  &__accounts {
    margin-top: -19px;
    max-width: 288px;

    padding: 43px 16px 26px;
    height: 100%;
    border-left: 1px solid rgba(231, 232, 241, 1);
    border-right: 1px solid rgba(231, 232, 241, 1);
    border-bottom: 1px solid rgba(231, 232, 241, 1);
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    transition: 0.2s ease;
    overflow: hidden;
    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
      box-sizing: border-box;
      overflow-y: auto;
      height: 252px;
      @include sb.scrollbar-dotted-vertical;

      li {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        img {
          width: 32px;
          height: 32px;
          filter: grayscale(100%);
          border-radius: 50%;
        }
      }
    }
  }
  &:hover {
    transform: scale(0.99);
    .campaign-card__header {
      border: 1px solid rgba(14, 116, 220, 1);
    }
    .campaign-card__title-section {
      background: linear-gradient(
        107.52deg,
        #bce8ff 3.56%,
        rgba(218, 244, 255, 0.94) 50.39%,
        rgba(191, 216, 255, 0.895) 79.14%,
        rgba(164, 188, 255, 0.85) 100%
      );
    }
    .button {
      background-color: rgba(14, 116, 220, 1);
      transition: none;
      &:active {
        p {
          color: white;
        }
      }
    }
    .campaign-card__accounts {
      border-left: 1px solid rgba(14, 116, 220, 1);
      border-right: 1px solid rgba(14, 116, 220, 1);
      transition: 0.2s ease;
      border-bottom: 1px solid rgba(14, 116, 220, 1);
    }
    .campaign-card__header,
    .campaign-card__title-section,
    .campaign-card__accounts {
      transition: 0.25s ease;
    }
  }
}
