@use "@/styles/variables/variables" as vars;
@use "@/styles/mixins/title" as title;

.account-setting-page {
  padding-top: 24px;
  padding-bottom: 64px;

  &__title {
    margin-top: 40px;
    margin-bottom: 24px;

    @include title.title();
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: 600px;

    @media screen and (max-width: 900px) {
      gap: 48px;
      width: 100%;
    }

    @media screen and (max-width: 500px) {
      gap: 40px;
    }
  }
}