.bc_card {
  position: relative;
  max-width: 288px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 24px;
  border: 1px solid;
  border-radius: 8px;
  border: 1px solid;
  @media (max-width: 515px) {
    max-width: 100%;
  }
  border: 1px solid rgba(185, 208, 255, 1);

  max-height: 158px;
  &.open {
    border: 1px solid rgba(185, 208, 255, 1);
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cost {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
      p {
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: capitalize;
      }
    }
    .social {
      display: flex;
      align-items: center;
      gap: 5px;
      p {
        min-width: 50px;
      }
      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }
  }
  .information {
    margin-top: 24px;
    .genresIcountries {
      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }
    &__popUp {
      position: absolute;
      background: white;
      width: calc(100% + 2px);
      border: 1px solid rgba(185, 208, 255, 1);
      padding: 24px;
      left: -1px;
      right: 0;
      margin-top: 16px;
      z-index: 10;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      .genres {
        h3 {
          font-weight: normal;
          border-bottom: 1px solid rgba(185, 208, 255, 1);
        }
        ul {
          margin-top: 14px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          li {
            flex: 0 0 auto;
            padding: 4px 12px;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(231, 232, 241, 1);
            border-radius: 4px;
          }
        }
      }
      .countries {
        margin-top: 16px;
        h3 {
          font-weight: normal;
          border-bottom: 1px solid rgba(185, 208, 255, 1);
        }
        ul {
          margin-top: 14px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          li {
            padding: 4px 12px;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(231, 232, 241, 1);
            border-radius: 4px;
          }
        }
      }
    }
  }
}
