.table-row {
  border-bottom: 1px solid #f1f1f1;
  .name {
    width: 312px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .price {
    width: 100%;
    display: flex;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }
  .genres,
  .countries {
    max-width: 312px;
  }
}
