@use "@/styles/variables/variables" as vars;

.influencer-date-input {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (max-width: 900px) {
    gap: 4px;
  }

  &__label {
    font-size: 16px;
    color: vars.$gray-dark;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }
    @media screen and (max-width: 500px) {
      font-size: 14px;
    }

    &--error {
      color: vars.$error;
    }
  }

  &__field {
    background: #ffffff;
    border: 1px solid vars.$white-gray-2;
    border-radius: 8px;
    max-height: 51px;
    padding: 16px;

    &::placeholder {
      color: vars.$gray;
      font-size: 14px;

      @media screen and (max-width: 900px) {
        font-size: 13px;
      }

      @media screen and (max-width: 500px) {
        font-size: 12px;
      }
    }

    &:focus {
      outline: none;
      border: 1px solid vars.$blue;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &--error {
      border: 1px solid vars.$error;

      &:focus {
        outline: none;
        border: 1px solid vars.$error;
      }
    }
  }

  &__error-message {
  }
}