.genres-scroll {

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-weight: 300;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    img {
      cursor: pointer;
    }
  }
  ul {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 24px;

      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid rgba(231, 232, 241, 1);
      border-radius: 32px;
      height: 41px;
      flex-shrink: 0;
      max-width: 125px;
    .genre-label{
      display: flex;
      align-items: center;
      flex-direction: column;
      &__main{
        color: #202934;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &__sub{
        color:  #202934;
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
      &:first-child {
        img {
          max-width: 32px;
          height: 32px;
        }
      }

      &.active {
        background: linear-gradient(
          107.52deg,
          #bce8ff 3.56%,
          rgba(218, 244, 255, 0.94) 50.39%,
          rgba(191, 216, 255, 0.895) 79.14%,
          rgba(164, 188, 255, 0.85) 100%
        );
      }
    }
  }
}
