@use "@/styles/variables/variables" as vars;

.masked-password-input {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;

  &__label {
    // display: inline-flex;
    font-size: 16px;
    color: vars.$gray-dark;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }

    @media screen and (max-width: 500px) {
      font-size: 14px;
    }
  }

  &__field {
    max-height: 51px;
    padding: 16px;
    background: #fff;
    border: 1px solid #e7e8f1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__masked {
    font-weight: 900;
    font-size: 20px;
    height: 20px;
    color: vars.$gray-dark;

    @media screen and (max-width: 500px) {
      height: 18px;
    }
  }
}
