.table-proposals {
  display: table;
  width: 100%;
  border: 1px solid rgba(185, 208, 255, 1);
  border-radius: 8px;

  &__header,
  &__body-row,
  &__add-row,
  &__footer-row {
    display: table-row;
  }

  &__header-data,
  &__body-data,
  &__footer-data,
  &__add-data {
    display: table-cell;
    padding: 8px;
    text-align: center;
    vertical-align: top;
  }

  &__header-data {
    font-weight: 600;
    background: rgba(185, 208, 255, 0.15);
    border: 1px solid rgba(185, 208, 255, 1);

    .header-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .switch {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .up {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__body-data {
    max-width: 276px;
    border: 1px solid rgba(191, 212, 255, 0.4);
    height: 70px;
    font-weight: 600;
    .ul {
      display: flex;
      align-items: center;
      gap: 4px;
      flex-wrap: wrap;
      li {
        flex: 0 0 auto;
        padding: 4px 12px;
        background-color: white;
        border: 1px solid rgba(231, 232, 241, 1);
      }
    }
    &__list {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 8px;

      li {
        font-weight: 400;
        font-style: Regular;
        font-size: 13px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        .check {
          position: absolute;

          right: 0;
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &__footer-data {
    background: rgba(185, 208, 255, 0.15);

    &.left {
      text-align: left;
    }
  }

  &__add-data {
    border: 1px solid rgba(191, 212, 255, 0.4);

    &.left {
      text-align: left;
    }

    button {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .button-influencer {
    background: linear-gradient(180deg, #ebecff 0%, #dff0ff 100%);
  }

  .border {
    text-align: start;
    border: 1px solid rgba(191, 212, 255, 0.4);
  }
}
