.signupClientPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-block: 48px;

  gap: 48px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  h2 {
    font-size: 40px;
    font-weight: 400;
  }

  p {
    font-size: 20px;
    color: #515259;
  }
}

@media (max-width: 850px) {
  .title {
    h2 {
      font-size: 32px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 600px) {
  .title {
    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }
}
.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.terms {
  max-width: 600px;
  width: 100%;

  font-size: 15px;
  white-space: pre-line;
}

.termsLink {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

@media (max-width: 850px) {
  .signupClientPage {
    padding: 48px 8px 30px;
    gap: 32px;
  }

  .subtitle {
    font-size: 16px;
  }

  .content {
    gap: 16px;
  }

  .terms {
    font-size: 13px;
    white-space: normal;
  }
}

@media (max-width: 600px) {
  .signupClientPage {
    padding: 32px 8px 24px;
    gap: 24px;
  }

  .subtitle {
    font-size: 14px;
  }
}