@use "@/styles/variables/variables" as vars;

.edit-password {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 24px;
  max-width: 600px;

  @media screen and (max-width: 900px) {
    margin-top: 32px;
    max-width: 100%;
  }
  @media screen and (max-width: 500px) {
    margin-top: 24px;
    gap: 16px;
  }

  &__header {
    padding: 8px 0;
    border-bottom: 1px solid vars.$blue;
  }

  &__title {
    font-weight: 400;
    font-size: 20px;

    @media screen and (max-width: 500px) {
      font-size: 16px;
    }
  }

  &__form {
    max-width: 100%;
  }

  //.description {
  //  text-align: end;
  //  margin-top: -12px;
  //  font-size: 14px;
  //  color: vars.$black;
  //
  //  @media screen and (max-width: 500px) {
  //    font-size: 12px;
  //  }
  //}
}
