@use "@/styles/variables/variables" as vars;

.home-campaigns-grid {
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: 1700px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }

  @media screen and (max-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  @media screen and (max-width: 900px) {
    gap: 13px;
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__item {
    height: 155px;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid vars.$blue;
    background: vars.$light-blue;
    color: vars.$black-blue;
    font-size: 16px;
    cursor: pointer;

    @media screen and (max-width: 1100px) {
      font-size: 15px;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
      height: 133px;
      font-size: 16px;
    }

    &-header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-meta {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;

      img {
        width: 32px;
        aspect-ratio: 1;
      }

      p {
        letter-spacing: 0.32px;
        text-transform: uppercase;
      }

      @media screen and (max-width: 1300px) {
        img {
          width: 24px;
        }
      }

      @media screen and (max-width: 900px) {
        gap: 4px;
      }

      @media screen and (max-width: 600px) {
        gap: 8px;
        font-size: 15px;

        img {
          width: 32px;
        }
      }
    }

    &-date {
      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
    }

    &-price {
      text-align: right;
    }

    &-title {
      width: fit-content;
      font-size: 20px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @media screen and (max-width: 1100px) {
        font-size: 18px;
      }

      @media screen and (max-width: 900px) {
        font-size: 16px;
      }

      @media screen and (max-width: 600px) {
        -webkit-line-clamp: 1;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
.table-wrapper {
  margin-top: 16px;
  overflow-x: auto;
  padding-bottom: 24px;
  &::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 8px;
  }

  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(185, 208, 255, 0.15);
  }
  .table-list {
    display: table;
    width: 100%;
    border-radius: 8px;
    max-width: 1224px;
    min-width: 900px;
    p {
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
    }
    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .socialMedia {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    &__header,
    &__body-row {
      display: table-row;
    }

    &__header-data,
    &__body-data {
      display: table-cell;
      text-align: start;
      vertical-align: middle;
    }

    &__header-data {
      font-weight: 600;
      padding: 8px 8px 16px 8px;
    }
    &__body-data {
      height: 48px;
      font-weight: 600;
      padding: 16px 8px 8px 8px;
      border-bottom: 1px solid rgba(185, 208, 255, 1);
    }
    .date-post {
      width: 250px;
      @media screen and (max-width: 900px) {
        width: 100px;
      }
    }
  }
}
