.invoice-page {
  padding-top: 24px;
  padding-bottom: 190px;

  @media screen and (max-width: 900px) {
    padding-bottom: 72px;
    padding-inline: 40px;
  }

  @media screen and (max-width: 500px) {
    padding-bottom: 26px;
    padding-inline: 16px;
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 400;

    @media screen and (max-width: 900px) {
      margin-top: 32px;
      margin-bottom: 24px;
      font-size: 32px;
    }

    @media screen and (max-width: 500px) {
      margin-top: 24px;
      margin-bottom: 8px;
      font-size: 24px;
    }
  }

  &__form {
    max-width: 100%;
  }
}
