.home-page {
  padding: 17px 110px 104px;

  @media screen and (max-width: 900px) {
    padding: 24px 40px 33px;
  }

  @media screen and (max-width: 700px) {
    padding: 24px 30px 33px;
  }

  @media screen and (max-width: 500px) {
    padding: 16px 16px 31px;
  }
}