@use "@/styles/variables/variables" as vars;

.table-card {
  width: 100%;
  min-width: 900px;
  border-radius: 8px;
  border: 1px solid vars.$blue;
  overflow: hidden;

  @media screen and (max-width: 900px) {
    margin-bottom: 12px;
  }
}

.custom-table {
  width: 100%;
  border-collapse: collapse;

  &__thead {
    background: vars.$light-blue;
    &-tr {
    }
    &-th {
      padding: 8px;
      border-left: 1px solid vars.$blue;
      border-bottom: 1px solid vars.$blue;
      white-space: nowrap;
      text-align: center;
      font-weight: 400;
      font-size: 16px;

      &:first-child {
        border-left: none;
      }

      @media screen and (max-width: 900px) {
        font-size: 15px;
      }

      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
    }
  }

  &__tbody {
    background: #ffffff;
  }

  &__footer {
    height: 38.5px;
    width: 100%;
    background: vars.$light-blue;
    // background: red;
  }
}
