@use '@/styles/variables/variables' as vars;

.text-input {
  width: 100%;

  &__title {
    width: 100%;
    color: vars.$gray-dark;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__input {
    width: 100%;
    height: 51px;
    padding: 16px;
    text-align: left;
    border: 1px solid vars.$white-gray-2;
    border-radius: 8px;
    color: vars.$gray-dark;
    font-size: 16px;
    font-family: 'Satoshi', sans-serif;

    &::placeholder {
      font-size: 14px;
      color: gray;
      letter-spacing: 0;
      font-family: 'Satoshi', sans-serif;
    }

    &:focus {
      outline: none;
      border: 1px solid vars.$blue;
    }
  }

  &.error {
    .text-input__title {
      color: vars.$error;
    }

    .text-input__input {
      border: 1px solid vars.$error;

      &:focus {
        outline: none;
        border: 1px solid vars.$error;
      }
    }
  }
}