.campaign-strategy {
  h1 {
    margin-top: 40px;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    @media screen and (max-width: 650px) {
      font-size: 24px;
    }
  }
  .navmenu {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 650px) {
      align-items: start;
      flex-direction: column;
      gap: 16px;
    }
  }
  .table-wrapper,
  .live-view-campaign {
    margin-bottom: 24px;
  }
  .live-view-campaign {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    overflow-x: scroll;
    @media screen and (max-width: 500px) {
      overflow-x: visible;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
    }
    &__card {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
      max-width: 357px;
      width: 100%;
      padding: 12px 16px;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid rgb(231, 232, 241);
    }
    &__card-video {
      min-width: 325px;

      height: 303px;
      border-radius: 8px;
      background-color: gray;
    }
    &__card-fill-data {
      flex: 1 1 auto;
      width: 100%;
      h3 {
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
      }
      .fill-input {
        display: flex;
        align-items: start;
        gap: 8px;
        padding: 12px 8px;
        border-radius: 8px;
        border: 1px solid rgb(231, 232, 241);
      }
      .fill-input-audience {
        display: flex;
        justify-content: space-between;
        .audience {
          math-depth: 4px;
          display: flex;
          align-items: center;
          gap: 4px;
          padding: 8px;
          border-radius: 8px;
          border: 1px solid rgb(231, 232, 241);
        }
      }
      .network {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid rgb(231, 232, 241);
        &__block {
          p {
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
          }
        }
      }
    }
  }
  .table-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 1224px;
    overflow-x: auto;
    padding-bottom: 20px;
    &::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 8px;
    }

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(185, 208, 255, 0.15);
    }
    .width {
      min-width: 1224px;
    }
  }

  &__options {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    .btn {
      max-width: 250px;
      width: 100%;
    }
    @media screen and (max-width: 650px) {
      flex-direction: column;
      gap: 8px;
      .btn {
        max-width: 350px;
      }
    }
  }
  &__proceedTo {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    .proceedTo {
      max-width: 250px;
      width: 100%;
    }
    @media screen and (max-width: 650px) {
      margin-top: 8px;
      .proceedTo {
        max-width: 350px;
      }
    }
  }
}
