.campaign-strategy {
  h1 {
    margin-top: 40px;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    @media screen and (max-width: 650px) {
      font-size: 24px;
    }
  }
  .navmenu {
    display: flex;
    align-items: center;
    @media screen and (max-width: 650px) {
      align-items: start;
      flex-direction: column;
      gap: 16px;
    }
  }
  .table-wrapper,
  .live-view {
    margin-bottom: 24px;
  }
  .table-wrapper {
    width: 100%;
    max-width: 1224px;
    overflow-x: auto;
    padding-bottom: 20px;
    &::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 8px;
    }

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
    }
    .width {
      min-width: 1224px;
    }
  }
  .live-view {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    overflow-x: scroll;
    &__card {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
      max-width: 357px;
      width: 100%;
      padding: 12px 16px;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid rgb(231, 232, 241);
    }
    &__card-video {
      min-width: 325px;

      height: 303px;
      border-radius: 8px;
      background-color: gray;
    }
    &__card-fill-data {
      flex: 1 1 auto;
      width: 100%;
      h3 {
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
      }
      .fill-input {
        display: flex;
        align-items: start;
        gap: 8px;
        padding: 12px 8px;
        border-radius: 8px;
        border: 1px solid rgb(231, 232, 241);
      }
      .fill-input-audience {
        display: flex;
        justify-content: space-between;
        .audience {
          math-depth: 4px;
          display: flex;
          align-items: center;
          gap: 4px;
          padding: 8px;
          border-radius: 8px;
          border: 1px solid rgb(231, 232, 241);
        }
      }
      .network {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid rgb(231, 232, 241);
        &__block {
          p {
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
          }
        }
      }
    }
  }

  .changeView {
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: end;

    &__content {
      display: flex;
      align-items: center;

      max-width: 209px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid rgba(231, 232, 241, 1);
      height: 36px;
      overflow: hidden;
      .changeView-check {
        position: relative;
        width: 100%;
        padding: 8px;
        opacity: 0.5;
        .dot {
          position: absolute;
          width: 6px;
          height: 6px;
          background-color: rgba(185, 208, 255, 1);
          border-radius: 50%;
        }
        &:first-child {
          display: flex;
          align-items: center;
          border-right: 1px solid rgba(231, 232, 241, 1);
          padding-left: 16px;
        }
        &:last-child {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          padding-right: 16px;
        }
        &.active {
          opacity: 1;
          &:first-child {
            .dot {
              right: 8px;
            }
          }
          &:last-child {
            .dot {
              left: 8px;
            }
          }
        }
      }
    }
  }

  &__options {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    .btn {
      max-width: 250px;
      width: 100%;
    }
    @media screen and (max-width: 650px) {
      flex-direction: column;
      gap: 8px;
      .btn {
        max-width: 350px;
      }
    }
  }
  &__proceedTo {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    .proceedTo {
      max-width: 250px;
      width: 100%;
    }
    @media screen and (max-width: 650px) {
      margin-top: 8px;
      .proceedTo {
        max-width: 350px;
      }
    }
  }
  &__bar {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    @media screen and (max-width: 900px) {
      justify-content: start;
      gap: 4px;
    }
  }
}

.UI-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 40px;
  border-radius: 16px;
  border: 1px solid rgb(231, 232, 241);
  background-color: rgba(255, 255, 255, 0.5);
  @media screen and (max-width: 900px) {
    padding: 8px;
    font-size: 13px;
    gap: 4px;
    img {
      width: 17px;
      height: 17px;
    }
  }
}
.ViewAudience {
  display: flex;
  justify-content: end;
  margin: 16px 0px;
  &__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid rgba(185, 208, 255, 1);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
