.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  width: 100%;
  height: 100vh;
  //background-color: white;
  flex: 1;
  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__bar {
    width: 12px;
    border-radius: 50px;
    background: linear-gradient(
      107.52deg,
      #bce8ff 3.56%,
      rgba(218, 244, 255, 0.94) 50.39%,
      rgba(191, 216, 255, 0.895) 79.14%,
      rgba(164, 188, 255, 0.85) 100%
    );
    transform-origin: bottom;
    animation: appear 2.2s infinite;
    opacity: 0;
    will-change: transform, opacity;
  }
}

@keyframes appear {
  0%,
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
}
