.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  animation: modalFadeIn 0.3s ease-in-out;

  &__content {
    position: relative;
    background: #fff;
    border-radius: 16px;
    width: 90%;
    max-width: fit-content;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  &__close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    padding: 6px;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  @keyframes modalFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}