.campaign-proposals {
  .navmenu {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    .copy {
      padding: 8px 16px;
      background-color: rgba(255, 255, 255, 1);
      font-size: 15px;
      height: 36px;
    }
  }
  &__left-side {
    h2 {
      font-weight: 400;
      font-style: Regular;
      font-size: 48px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
    }
    .bar-options {
      max-width: 1000px;
      overflow-x: auto;
      margin-top: 16px;
      display: flex;
      align-items: center;
      gap: 16px;
      &::-webkit-scrollbar {
        height: 6px;
      }
      &::-webkit-scrollbar-track {
        background-color: rgba(231, 232, 241, 1);
      }
      &::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg, #d9daf4 0%, #dae9f8 100%);

        border-radius: 3px;
      }
      li {
        padding: 12px 24px;
        border-radius: 8px;
        flex: 0 0 auto;
        font-size: 16px;
        &.active {
          background: linear-gradient(
            107.52deg,
            #bce8ff 3.56%,
            rgba(218, 244, 255, 0.94) 50.39%,
            rgba(191, 216, 255, 0.895) 79.14%,
            rgba(164, 188, 255, 0.85) 100%
          );
        }
      }
    }
  }
  .addOptions {
    margin: 16px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
