@use "@/styles/mixins/title" as title;
@use "@/styles/variables/variables" as vars;

.forgot-password-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 64px auto;

  @media screen and (max-width: 900px) {
    width: 575px;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    padding: 0 30px;
  }

  @media screen and (max-width: 500px) {
    padding: 0 16px;
  }

  &__title-block {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    @include title.title($font-color: vars.$gray-dark);
  }

  &__subtitle {
    @include title.subtitle($font-color: vars.$gray-dark);
  }

  &__input {
    margin-top: 48px;
    width: 100%;
  }

  &__controls {
    margin-top: 64px;

    @media screen and (max-width: 500px) {
      margin-top: 48px;
    }

    @media screen and (max-width: 500px) {
      width: 100% !important;
    }
  }

  &__modal {
    padding: 32px 48px 40px;
    @media screen and (max-width: 900px) {
      padding: 32px 24px;
    }
    @media screen and (max-width: 500px) {
      padding: 24px 16px 32px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      @media screen and (max-width: 900px) {
        gap: 32px;
      }
      @media screen and (max-width: 500px) {
        gap: 24px;
      }
    }

    &-texts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      @media screen and (max-width: 900px) {
        gap: 16px;
      }
    }

    &-title {
      font-size: 36px;

      @media screen and (max-width: 900px) {
        font-size: 32px;
      }
      @media screen and (max-width: 500px) {
        font-size: 24px;
      }
    }

    &-subtitle {
      font-size: 16px;
      text-align: center;
      color: vars.$gray-dark;

      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
    }
  }
}
