@use '@/styles/mixins/title' as title;
@use '@/styles/variables/variables' as vars;

.forgot-password-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 64px auto;

  @media screen and (max-width: 900px) {
    width: 575px;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    padding: 0 30px;
  }

  @media screen and (max-width: 500px) {
    padding: 0 16px;
  }

  &__title-block {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    @include title.title($font-color: vars.$gray-dark);
  }

  &__subtitle {
    @include title.subtitle($font-color: vars.$gray-dark)
  }

  &__input {
    margin-top: 48px;
    width: 100%;
  }

  &__controls {
    margin-top: 64px;

    @media screen and (max-width: 500px) {
      margin-top: 48px;
    }

    @media screen and (max-width: 500px) {
      width: 100% !important;
    }
  }
}