@use '@/styles/mixins/title' as title;
@use '@/styles/variables/variables' as vars;

.forgot-password-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 64px auto;

  &__title-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    @include title.title($font-color: vars.$gray-dark);
  }

  &__subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: vars.$gray-dark;
  }

  &__input {
    margin-top: 48px;
    width: 100%;
  }

  &__controls {
    margin-top: 64px;
  }
}