@use "@/styles/variables/variables" as vars;

.invoice-form-content {
  width: 100%;
  display: flex;
  gap: 24px;

  @media screen and (max-width: 900px) {
    gap: 16px;
    justify-content: space-between;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  &__inputs-block {
    display: flex;
    flex-direction: column;
    width: 704px;
    gap: 64px;

    @media screen and (max-width: 900px) {
      gap: 32px;
      width: 358px;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      gap: 24px;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (max-width: 900px) {
      gap: 16px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 20px;
    padding: 8px 0;
    border-bottom: 1px solid vars.$blue;

    @media screen and (max-width: 900px) {
      font-size: 16px;
    }

    @media screen and (max-width: 500px) {
      font-size: 15px;
    }
  }
}
