@use "@/styles/variables/variables" as vars;

.campaign-result {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    font-weight: 400;
    font-size: 48px;
    color: vars.$black-blue;
  }

  &__form {
    @media screen and (max-width: 900px) {
      max-width: 100%;
    }

    &-submit {
      display: flex;
      justify-content: center;
      margin-top: 48px;

      @media screen and (max-width: 900px) {
        margin-top: 32px;
      }
      @media screen and (max-width: 500px) {
        margin-top: 24px;
      }
    }
  }
}
