.edit-password-form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__submit {
    display: flex;
    justify-content: center;
    margin-top: 48px;

    @media screen and (max-width: 900px) {
      margin-top: 32px;
    }
    @media screen and (max-width: 500px) {
      margin-top: 24px;
    }
  }
}