@use "@/styles/mixins/title" as title;
@use "@/styles/variables/variables" as vars;

.login-page__wrapper {
  min-height: calc(100vh - 84px); // 100% экрана - высота таб бара
  padding: 64px 0 48px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media screen and (max-width: 900px) {
    padding: 48px 75px 29px;
    min-height: calc(100vh - 48px);
  }

  @media screen and (max-width: 500px) {
    padding: 32px 16px 24px;
  }

  @media screen and (max-width: 335px) {
    padding: 32px 8px 24px;
  }
}

.login-page {
  width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    width: 100%;
  }

  @media screen and (max-width: 900px) {
    width: 545px;
  }

  @media screen and (max-width: 700px) {
    width: 100%;
  }

  //TODO: remove width
  &__title {
    @include title.title();
    text-align: center;
    // width: 669px;
    // white-space: nowrap;

    // @media screen and (max-width: 900px) {
    //   width: 446px;
    // }

    // @media screen and (max-width: 500px) {
    //  width: 335px;
    // }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-top: 48px;

    @media screen and (max-width: 900px) {
      margin-top: 32px;
      gap: 16px;
    }
  }

  &__password-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  &__forgot {
    text-align: right;
    width: fit-content;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    user-select: none;
    cursor: pointer;

    @media screen and (max-width: 900px) {
      font-size: 14px;
    }

    @media screen and (max-width: 500px) {
      font-size: 13px;
    }
  }

  &__controls {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px !important;

    @media screen and (max-width: 500px) {
      width: 100% !important;
    }
  }

  &__footer {
    margin-top: auto;
    padding-top: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }

    @media screen and (max-width: 900px) {
      font-size: 13px;
    }

    &--link {
      text-decoration: underline;
      cursor: pointer;
      user-select: none;
    }
  }
}

//TODO: loading spinner styles
// .loader {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .spinner-gradient {
//   transform-origin: 50% 50%;
//   animation: spin 6.5s linear infinite;
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
