@use '@/styles/mixins/title' as title;
@use '@/styles/variables/variables' as vars;

.login-page {
  width: 100%;
  max-width: 100vw;
  min-height: calc(100vh - 160px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
    width: 100%;
  }

  &__title {
    @include title.title();
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 600px;
    margin-top: 48px;
  }

  &__password-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  &__forgot {
    text-align: right;
    width: fit-content;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    user-select: none;
    cursor: pointer;
  }

  &__controls {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

    &--link {
      text-decoration: underline;
      cursor: pointer;
      user-select: none;
    }
  }
}
