@use "@/styles/variables/variables" as vars;

.payment-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  //width: 392px;

  @media screen and (max-width: 900px) {
    //width: 358px;
    gap: 8px;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
  }

  &__item {
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;

    height: 87px;
    padding: 12px 16px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all 0.3s ease;

    &--active {
      border-color: vars.$blue;
    }

    &-label {
      font-weight: 500;
      font-size: 20px;
      color: vars.$black;

      @media screen and (max-width: 900px) {
        font-size: 14px;
        font-weight: 400;
      }
    }

    &-image {
      @media screen and (max-width: 900px) {
        width: 32px;
        height: 32px;
      }
    }

    @media screen and (max-width: 900px) {
      height: 56px;
      padding: 12px;
      gap: 8px;
    }
  }
}
