.campaignBase {
  .navmenu {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
  .live-view-campaign {
    margin-top: 25px;
  }
  h1 {
    max-width: 650px;
    width: 100%;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;

    @media screen and (max-width: 900px) {
      font-size: 32px;
    }
    @media screen and (max-width: 500px) {
      font-size: 24px;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @media screen and (max-width: 900px) {
      flex-direction: column-reverse;
      gap: 16px;
    }

    .share-link-row {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;

      .share-link {
        display: flex;
        align-items: center;
        width: fit-content;
        border-radius: 8px;
        height: fit-content;
        gap: 8px;
        padding: 8px 16px;
        background-color: #fff;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 8px;

      @media screen and (max-width: 900px) {
        justify-content: end;
      }

      li {
        display: flex;
        align-items: center;
        border: 1px solid rgba(185, 208, 255, 1);
        gap: 4px;
        border-radius: 8px;
        padding: 4px 12px;
        background-color: #fff;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
      }
    }
  }

  .BarSection {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 24px;

    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
    }

    .block {
      max-width: 386px;
      height: 168px;
      width: 100%;
      padding: 16px;
      border-radius: 16px;
      border: 1px solid rgba(185, 208, 255, 1);
      background-color: #fff;

      @media screen and (max-width: 900px) {
        max-width: 258px;
        height: 130px;
      }
      @media screen and (max-width: 800px) {
        max-width: 100%;
        height: 168px;
      }
    }

    .BarSection-info {
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;

        @media screen and (max-width: 900px) {
          font-size: 12px;
        }

        span {
          font-weight: 500;
          font-size: 15px;
          line-height: 100%;

          @media screen and (max-width: 900px) {
            font-size: 13px;
          }
        }
      }

      &__title {
        display: flex;
        align-items: center;
        gap: 8px;

        h2 {
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
        }
      }

      &__content {
        margin-top: 16px;
        display: flex;
        align-items: start;
        justify-content: space-between;
      }

      &__left-section,
      &__right-section {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (max-width: 900px) {
          gap: 8px;
        }
      }
    }
  }

  .bar-campaign-page {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

    @media screen and (max-width: 1000px) {
      justify-content: start;
      gap: 4px;
    }

    .UI-button {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 40px;
      border-radius: 16px;
      border: 1px solid rgb(231, 232, 241);
      background-color: rgba(255, 255, 255, 0.5);

      @media screen and (max-width: 900px) {
        padding: 8px;
        font-size: 13px;
        gap: 4px;

        img {
          width: 17px;
          height: 17px;
        }
      }
    }
  }

  h3 {
    margin-top: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
  }

  &__content {
    margin-top: 16px;
    .option-list {
      display: flex;
      align-items: center;
      gap: 16px;
      li {
        padding: 12px 24px;
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 8px;
        background:
          linear-gradient(0deg, #ffffff, #ffffff),
          linear-gradient(
            107.52deg,
            #bce8ff 3.56%,
            rgba(218, 244, 255, 0.94) 50.39%,
            rgba(191, 216, 255, 0.895) 79.14%,
            rgba(164, 188, 255, 0.85) 100%
          );
        &.active-option {
          background: linear-gradient(
            107.52deg,
            #bce8ff 3.56%,
            rgba(218, 244, 255, 0.94) 50.39%,
            rgba(191, 216, 255, 0.895) 79.14%,
            rgba(164, 188, 255, 0.85) 100%
          );
        }
      }
    }
    .controls {
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 750px) {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        .ViewAudience-block {
          width: 100%;
          display: flex;
          justify-content: end;
        }
      }
    }
  }
  &__options {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    .btn {
      max-width: 250px;
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
  &__proceedTo {
    @media screen and (max-width: 800px) {
      margin: 16px auto 0 !important;
    }
    margin: 48px auto 0;
    max-width: 250px;
  }
}
