@use "@/styles/variables/variables" as vars;

.signup-influencer-success {
  padding: 64px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 900px) {
    padding: 64px 40px;
  }

  @media screen and (max-width: 500px) {
    padding: 48px 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    max-width: 724px;
    width: 100%;

    @media screen and (max-width: 900px) {
      gap: 24px;
    }
  }

  &__image {
    width: 100px;
    height: 100px;
    object-fit: contain;

    @media (max-width: 900px) {
      width: 72px;
      height: 72px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;

    @media screen and (max-width: 900px) {
      gap: 32px;
    }

    @media screen and (max-width: 500px) {
      gap: 56px;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;

    @media screen and (max-width: 900px) {
      gap: 24px;
    }
    @media screen and (max-width: 500px) {
      gap: 16px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 40px;
    @media screen and (max-width: 900px) {
      font-size: 32px;
    }
    @media screen and (max-width: 500px) {
      font-size: 24px;
    }
  }

  &__text-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (max-width: 500px) {
      gap: 8px;
    }
  }

  &__subtitle {
    color: vars.$gray;
    font-size: 20px;
    @media screen and (max-width: 900px) {
      font-size: 16px;
    }
    @media screen and (max-width: 500px) {
      font-size: 15px;
    }
  }

  &__description {
    font-size: 16px;
    color: vars.$gray;
    @media screen and (max-width: 900px) {
      font-size: 14px;
    }
    @media screen and (max-width: 500px) {
      font-size: 13px;
    }
  }
}
