.bc_proceed {
  max-width: 250px;
  margin: 64px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  &__text {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    span {
      font-weight: 400;
      font-style: Regular;
      font-size: 20px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: capitalize;
    }

    padding-bottom: 4px;
    border-bottom: 1px solid rgba(42, 42, 42, 1);
  }
  .nonActive {
    background: rgb(236, 238, 240) !important;
    border: 1px solid rgb(236, 238, 240);
    p {
      color: black !important;
    }
  }
}
