@use '@/styles/variables/variables' as vars;

@mixin dropdown(
  $border-color: vars.$blue,
  $background: #fff,
  $border-radius: 8px,
  $transition-duration: 0.2s,
  $height-expanded: 193px
) {
  position: relative;

  &__dropdown {
    z-index: 9;
    position: absolute;
    top: calc(100% - 8px);
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    background: $background;
    border: 1px solid $border-color;
    border-radius: 0 0 $border-radius $border-radius;
    transition: height $transition-duration ease,
    opacity ($transition-duration + 0.1s) ease;

    &--visible {
      height: $height-expanded;
      opacity: 1;
    }

    &-list {
      margin-top: 6px;
      height: 100%;
    }

    &-list-item {
      user-select: none;
      cursor: pointer;
    }
  }
}
