@use '../variables/variables' as vars;

@mixin title(
  $font-size: 48px,
   $tablet-font-size: 32px,
    $mobile-font-size: 24px,
     $font-weight: 400,
      $line-height: 110%,
       $font-style: normal,
        $font-color: vars.$black-blue
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-style: $font-style;
  color: $font-color;

  @media screen and (max-width: 900px) {
    font-size: $tablet-font-size;
    line-height: normal;
  }

  @media screen and (max-width: 500px) {
    font-size: $mobile-font-size;
    line-height: normal;
  }
}

@mixin subtitle(
  $font-size: 20px,
   $tablet-font-size: 16px,
    $mobile-font-size: 14px,
     $font-weight: 400,
      $line-height: normal,
       $font-style: normal,
        $font-color: vars.$black-blue
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-style: $font-style;
  color: $font-color;

  @media screen and (max-width: 900px) {
    font-size: $tablet-font-size;
  }

  @media screen and (max-width: 500px) {
    font-size: $mobile-font-size;
  }
}