@mixin title($font-size: 48px, $font-weight: 400, $line-height: 110%, $font-style: normal) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-style: $font-style;
}