@use 'variables/_variables.scss' as vars;
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #fafaf9;
  position: relative;
  min-height: 100vh;
  font-family: 'Satoshi', 'Noto Color Emoji', sans-serif;
  overflow-x: clip;
  width: 100%;
  max-width: 100vw;
  color: vars.$black-blue;
  letter-spacing: 0;

  img {
    user-select: none;
  }

  &::before,
  &::after {
    content: '';
    position: fixed;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.8;
    filter: blur(150px);
  }

  &::before {
    width: 1025px;
    height: 1025px;
    top: -300px;
    left: -350px;
    background: radial-gradient(
                    circle at center,
                    #D6E6F9 40%,
                    #FFFFFF 100%
    );
  }

  &::after {
    width: 644px;
    height: 644px;
    bottom: -300px;
    right: -150px;
    background: radial-gradient(
                    circle at center,
                    #D6E6F9 40%,
                    #FFFFFF 100%
    );
  }
}