@use "variables/_variables.scss" as vars;
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: 0;
  min-width: 375px;
}

html,
:has(:target) {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,
textarea,
button,
select {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}
body {
  position: relative;
  margin: 0;
  background-color: #FBFAF9;
  // background-color: red;
  min-height: 100vh;
  font-family: "Satoshi", "Noto Color Emoji", sans-serif;
  overflow-x: clip;
  width: 100%;
  min-width: 375px;
  max-width: 100vw;
  color: vars.$black-blue;
  letter-spacing: 0;
  z-index: 0;

  img {
    user-select: none;
  }

  &::before,
  &::after {
    content: "";
    position: fixed;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.8;
    filter: blur(150px);
  }

  /* ===== DESKTOP (больше 900px) ===== */
  &::before {
    width: 1025px;
    height: 1025px;
    top: -300px;
    left: -350px;
    background: radial-gradient(circle at center, #d6e6f9 40%, #ffffff 100%);
  }

  &::after {
    width: 644px;
    height: 644px;
    bottom: -300px;
    right: -150px;
    background: radial-gradient(circle at center, #d6e6f9 40%, #ffffff 100%);
  }

  /* ===== TABLET (max-width: 900px) ===== */
  @media screen and (max-width: 900px) {
    &::before {
      width: 700px;
      height: 700px;
      top: -250px;
      left: -250px;
      filter: blur(120px);
    }

    &::after {
      width: 450px;
      height: 450px;
      bottom: -200px;
      right: -80px;
      filter: blur(120px);
    }
  }

  /* ===== MOBILE (max-width: 500px) ===== */
  @media screen and (max-width: 500px) {
    &::before {
      width: 420px;
      height: 420px;
      top: -180px;
      left: -120px;
      filter: blur(90px);
    }

    &::after {
      width: 280px;
      height: 280px;
      bottom: -120px;
      right: -40px;
      filter: blur(90px);
    }
  }
}
ul {
  list-style: none;
}

a {
  color: inherit; /* Ensures color is inherited from parent element */
  text-decoration: none; /* Removes the default underline */
  cursor: pointer; /* Ensures a pointer cursor on hover, even if not explicitly set by the browser */
}

/* Optional: Add a hover state to indicate interactivity */
a:hover,
a:focus {
  text-decoration: none; /* Re-adds the underline on hover for usability */
}
