@use '@/styles/variables/variables' as vars;

.terms-page__wrapper {
  margin: 0 auto;
  padding: 64px 0 99px;
  width: 1016px;
  min-height: calc(100vh - 84px); // 100% экрана - высота таб бара
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1100px) {
    width: 75%;
  }

  @media screen and (max-width: 900px) {
    padding: 24px 0 32px;
    min-height: calc(100vh - 48px);
  }

  @media screen and (max-width: 700px) {
    width: 100%;
    padding: 24px 25px 32px;
  }

  @media screen and (max-width: 500px) {
    padding: 24px 16px 16px;
  }
}

.terms-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    width: 100%;
  }

  @media screen and (max-width: 900px) {
    width: 625px;
  }

  @media screen and (max-width: 700px) {
    width: 100%;
  }

  &__title-block {
    color: vars.$gray-dark;
    text-align: center;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    margin-bottom: 64px;

    @media screen and (max-width: 1100px) {
      margin-bottom: 26px;
    }

    @media screen and (max-width: 900px) {
      margin-bottom: 32px;
    }

    @media screen and (max-width: 500px) {
      margin-bottom: 24px;
    }
  }

  &__title {
    font-size: 40px;

    @media screen and (max-width: 900px) {
      font-size: 32px;
    }

    @media screen and (max-width: 500px) {
      font-size: 24px;
    }
  }

  &__subtitle {
    font-size: 24px;

    @media screen and (max-width: 900px) {
      font-size: 16px;
    }
  }

  &__main-text {
    color: vars.$gray-dark;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 900px) {
      font-size: 14px;
    }
  }

  &__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      @media screen and (max-width: 900px) {
        gap: 12px;
      }

      &-header {
        color: vars.$black-blue;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media screen and (max-width: 900px) {
          font-size: 16px;
        }
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 272px;

    @media screen and (max-width: 900px) {
      margin-top: 51px;
    }

    @media screen and (max-width: 500px) {
      width: 100% !important;
    }
  }
}