@use "@/styles/variables/variables" as vars;

.audience-insights {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;

  @media screen and (max-width: 900px) {
    margin-bottom: 32px;
  }
  @media screen and (max-width: 500px) {
    margin-bottom: 24px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    border-bottom: 1px solid vars.$blue;
    padding-bottom: 4px;
    font-size: 24px;

    @media screen and (max-width: 900px) {
      font-size: 20px;
    }
  }

  &__subtitle {
    font-size: 16px;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }
    @media screen and (max-width: 500px) {
      font-size: 14px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (max-width: 500px) {
      gap: 16px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;

    @media screen and (max-width: 500px) {
      gap: 4px;
    }
  }

  &__item-label {
    height: 38px;
    width: 48px;
    font-size: 20px;
    text-align: center ;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 500px) {
      width: 41px;
    }
  }

  &__inputs {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;

    @media screen and (max-width: 500px) {
      gap: 4px;
    }

    > input {
      width: 100%;
      background: rgba(255, 255, 255, 1);
      border: 1px solid vars.$white-gray-2;
      border-radius: 8px;
      height: 38px;

      &::placeholder {
        font-size: 14px;
        @media screen and (max-width: 500px) {
          font-size: 12px;
        }
      }
    }
  }

  .percentage-input {
    padding: 9.5px 0;
    width: 66px;
    text-align: center;
    @media screen and (max-width: 500px) {
      padding: 11px 0;
    }
  }
}
