.user-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 40px;
  
  > div {
    width: 100%;
  }

  @media screen and (max-width: 900px) {
    margin-bottom: 32px;
    gap: 16px;
  }

  @media screen and (max-width: 500px) {
    margin-bottom: 24px;
  }
}
