.user-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 40px;
  
  > div {
    width: 100%;
    position: relative;
  }
}
