@use "@/styles/variables/variables" as vars;

.promos-list {
  margin-top: 32px;
  margin-bottom: 64px;

  &__content {
    overflow-x: visible;
  }

  &__scroll {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    box-sizing: border-box;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: vars.$light-blue;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: vars.$black-blue;
      border-radius: 8px;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;

    @media screen and (max-width: 900px) {
      margin-top: 32px;
    }

    @media screen and (max-width: 500px) {
      margin-top: 24px;
    }
  }
}
