@use "@/styles/variables/variables" as vars;

.social-accounts-page {
  padding-top: 40px;
  padding-bottom: 64px;

  @media screen and (max-width: 900px) {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  @media screen and (max-width: 500px) {
    padding-top: 16px;
    padding-bottom: 24px;
  }

  &__content {
    width: 600px;

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  &__header {
    margin-top: 40px;
    margin-bottom: 24px;
    padding: 8px 0;
    border-bottom: 1px solid vars.$blue;

    @media screen and (max-width: 900px) {
      margin-top: 32px;
    }
    @media screen and (max-width: 500px) {
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 400;

    @media screen and (max-width: 900px) {
      font-size: 32px;
    }
    @media screen and (max-width: 500px) {
      font-size: 24px;
    }
  }

  &__modal-content {
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    &-icon {
      width: 100px;
      height: 100px;
    }

    &-title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }

    &-title {
      font-size: 40px;
      font-weight: 400;
      text-align: center;
    }

    &-subtitle-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }

    &-subtitle {
      font-size: 20px;
      color: vars.$gray;
      text-align: center;
    }

    &-text {
      font-size: 16px;
      color: vars.$gray;
      text-align: center;
    }
  }
}
