.tab-bar-bespoke {
  margin-top: 24px;
  ul {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      max-width: 430px;
      overflow-y: auto;
    }
    li {
      display: flex;
      align-content: center;
      padding: 8px 32px;
      gap: 8px;
      border-radius: 32px;
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid rgba(231, 232, 241, 1);
      &.active {
        background: linear-gradient(
          107.52deg,
          #bce8ff 3.56%,
          rgba(218, 244, 255, 0.94) 50.39%,
          rgba(191, 216, 255, 0.895) 79.14%,
          rgba(164, 188, 255, 0.85) 100%
        );
      }
      @media screen and (max-width: 600px) {
        padding: 8px 16px;
      }
      cursor: pointer;
    }
  }
}
