@use '@/styles/variables/variables' as vars;
@use '@/styles/mixins/button' as button-mixin;

.button-main {
  @include button-mixin.button();
}

.button-secondary {
  @include button-mixin.button(
          $text-color: vars.$black-blue,
          $background: white,
          $hover-background: vars.$hover-button-2,
          $disabled-background: white,
          $disabled-border: vars.$white-gray-2
  );

  &:active {
    background: white !important;
    border: 2px solid vars.$black-blue !important;
  }
}