.promos-details-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  @media screen and (max-width: 900px) {
    gap: 24px;
  }

  @media screen and (max-width: 500px) {
    gap: 16px;
  }
}