@use "@/styles/variables/variables" as vars;
@use "@/styles/mixins/title" as title;

.account-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0 180px;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: 900px) {
    padding: 32px 0 130px;
  }

  @media screen and (max-width: 700px) {
    padding: 56px 25px 20px;
  }

  @media screen and (max-width: 500px) {
    padding: 56px 16px 20px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;

    @media screen and (max-width: 900px) {
      margin-bottom: 24px;
    }

    @media screen and (max-width: 500px) {
      gap: 4px;
    }
  }

  &__title {
    @include title.title();
  }
  &__subtitle {
    @include title.subtitle($font-color: vars.$gray);
  }

  &__form {
    width: 600px;

    @media screen and (max-width: 900px) {
      width: 545px;
    }

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }

  &__price-input {
    > label {
      font-size: 16px;
      color: vars.$gray-dark;

      @media screen and (max-width: 900px) {
        font-size: 15px;
      }

      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
    }

    > input {
      margin-top: 8px;
      background: #fff;
      border: 1px solid vars.$white-gray-2;
      border-radius: 8px;
      padding: 16px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    gap: 24px;

    @media screen and (max-width: 900px) {
      margin-top: 32px;
    }

    @media screen and (max-width: 500px) {
      margin-top: 24px;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__btn {
    width: 250px;

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }

  &__btn .submit {
    &:disabled {
      background-color: vars.$disabled-button-1;
      cursor: not-allowed;
    }
  }

  &__btn-back {
    position: absolute;
    top: 64px;
    left: 108px;
    width: 48px;
    height: 48px;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;

      padding: 1px;
      border-radius: inherit;

      background: vars.$brightest-gradient;

      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;

      pointer-events: none;
    }

    @media screen and (max-width: 900px) {
      top: 32px;
      left: 40px;
      width: 32px;
      height: 32px;

      > img {
        width: 20px;
        height: 20px;
      }
    }

    @media screen and (max-width: 500px) {
      left: 16px;
      top: 16px;
    }
  }
}
