@use "@/styles/variables/variables" as vars;

.promos-table-item {
  border-bottom: 1px solid vars.$blue;

  &__status,
  &__date-post,
  &__name,
  &__reward {
    padding: 24px 0 8px 8px;
    
    @media screen and (max-width: 900px) {
      padding: 16px 0 8px 8px;
    }
  }

  &__status {
    vertical-align: middle;
    padding: 24px 0 8px 0;
    cursor: pointer;

    @media screen and (max-width: 900px) {
      padding: 16px 0 8px 0;
    }

    &-content {
      display: flex;
      align-items: center;
      gap: 8px;
      text-transform: uppercase;
      letter-spacing: 0.02em;

      @media screen and (max-width: 900px) {
        font-size: 15px;
      }

      @media screen and (max-width: 500px) {
        font-size: 12px;
        gap: 2px;
      }
    }

    &-icon {
      width: 32px;
      height: 32px;

      @media screen and (max-width: 900px) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__date-post {
    vertical-align: middle;
    @media screen and (max-width: 900px) {
      font-size: 15px;
    }

    @media screen and (max-width: 500px) {
      font-size: 13px;
    }
  }

  &__name {
    font-size: 20px;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }

    @media screen and (max-width: 500px) {
      font-size: 14px;
    }
  }

  &__reward {
    @media screen and (max-width: 500px) {
      font-size: 14px;
    }
  }
}


//div table structure
// &__status,
// &__date-post,
// &__name,
// &__reward {
//   flex: 1;
//   padding: 8px 0;
//   display: flex;
//   align-items: center;

//   @media screen and (max-width: 500px) {
//     padding: 4px 0;
//   }
// }

// &__status {
//   gap: 8px;
//   letter-spacing: 0.02em;
//   text-transform: uppercase;
//   text-align: center;

//   @media screen and (max-width: 900px) {
//     font-size: 15px;
//   }

//   @media screen and (max-width: 500px) {
//     font-size: 12px;
//     gap: 2px;
//   }

//   &-icon {
//     width: 32px;
//     height: 32px;

//     @media screen and (max-width: 900px) {
//       width: 24px;
//       height: 24px;
//     }
//   }
// }

// &__date-post {
//   @media screen and (max-width: 900px) {
//     font-size: 15px;
//   }

//   @media screen and (max-width: 500px) {
//     font-size: 13px;
//   }
// }

// &__name {
//   font-size: 20px;

//   @media screen and (max-width: 900px) {
//     font-size: 15px;
//   }

//   @media screen and (max-width: 500px) {
//     font-size: 14px;
//   }
// }

// &__reward {
//   @media screen and (max-width: 500px) {
//     font-size: 14px;
//   }
// }
