@use "@/styles/variables/variables" as vars;

.promos-grid-wrap {
  position: relative;
}

.promos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  gap: 24px;

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    gap: 16px;
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
    column-gap: 0;
    row-gap: 16px;
  }

  &__item {
    display: flex;
    background: vars.$light-blue;
    border: 1px solid vars.$blue;
    border-radius: 8px;
    padding: 16px;
    height: 155px;
    cursor: pointer;
    transition: all 0.3s ease;

    @media screen and (max-width: 900px) {
      height: 139px;
    }

    @media screen and (max-width: 500px) {
      height: 133px;
    }

    &:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.promos-grid--dimmed {
  filter: blur(1px);
  opacity: 0.65;
  transition: filter 150ms ease, opacity 150ms ease;
}

.promos-grid-overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  backdrop-filter: blur(2px);

  //background: rgba(255, 255, 255, 0.35);
  //background: rgba(255, 255, 255, 0.35);
  //pointer-events: none; // клики проходят сквозь (если блокировать — уберать)
}

.promos-grid-overlay__content {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

//.spinner {
//  width: 32px;
//  height: 32px;
//  border-radius: 999px;
//  border: 3px solid rgba(0,0,0,0.2);
//  border-top-color: rgba(0,0,0,0.7);
//  animation: spin 0.7s linear infinite;
//}
//
//@keyframes spin {
//  to { transform: rotate(360deg); }
//}