@use "@/styles/variables/variables" as vars;

.promos-table {
  min-width: 100%;
  width: max-content;
  table-layout: fixed;
  border-collapse: collapse;

  &__thead {
    &-tr {
    }

    &-th {
      padding: 8px 0 0 8px;
      text-align: start;
      font-weight: 400;

      @media screen and (max-width: 900px) {
        font-size: 14px;
      }

      &:nth-child(1) {
        padding: 8px 0;
      }
    }
  }

  &__tbody {}
}

//div table structure
// min-width: 700px;
// display: flex;
// flex-direction: column;
// margin-bottom: 24px;
// gap: 16px;

// &__header {
//   display: flex;

//   @media screen and (max-width: 500px) {
//     font-size: 14px;
//   }
// }

// &__cell {
//   flex: 1;
//   padding: 8px 0;
//   text-align: start;
// }

// &__row {
//   display: flex;
//   border-bottom: 1px solid vars.$blue;
// }
