@use "@/styles/variables/variables" as vars;

.promos-table {
  min-width: 732px;
  width: 100%;
  display: table;
  margin-bottom: 24px;
  border-collapse: collapse;

  &__thead {
    &-tr {
    }

    &-th {
      padding: 8px 0 0 8px;
      text-align: start;
      font-weight: 400;

      @media screen and (max-width: 900px) {
        font-size: 14px;
      }

      &:nth-child(1) {
        padding: 8px 0 0 0;
      }
    }
  }

  &__tbody {
  }
}
