.payment-campaign {
  margin-bottom: 151px;
  @media screen and (max-width: 900px) {
    margin-bottom: 73px;
  }
  @media screen and (max-width: 600px) {
    margin-bottom: 31px;
  }
  h1 {
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
  &__content {
    margin-top: 13px;
    display: flex;
    gap: 24px;
    @media screen and (max-width: 900px) {
      justify-content: space-between;
    }
  }
  .navmenu {
    margin: 32px 0px;
    @media screen and (max-width: 900px) {
      margin: 16px 0px;
    }
  }
  &__width {
    max-width: 930px;
  }

  &__confirmation {
    margin: 44px 0px 16px;

    .PO {
      margin-top: 16px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;

      .btn {
        max-width: 250px;
        height: 46px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }
    }
  }

  &__form {
    margin-top: 8px;
    width: 100%;
    max-width: 930px;

    .margin {
      margin-top: 16px;
    }

    .ul-BankTransfer {
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      gap: 24px;

      li {
        cursor: pointer;
        text-align: center;
        max-width: 288px;
        width: 100%;
        padding: 24px;
        height: 80px;

        border-radius: 8px;
        background: rgba(255, 255, 255, 1);

        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;

        &.active {
          background: linear-gradient(180deg, #ebecff 0%, #dff0ff 100%);
        }
      }
    }
  }

  &__invoice {
    margin-bottom: 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(185, 208, 255, 1);

    .btn-margin {
      margin-top: 48px;
    }

    h3 {
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  @media screen and (max-width: 900px) {
    &__content {
      margin-top: 24px;
      gap: 16px;
    }

    &__width {
      max-width: 100%;
    }

    &__confirmation {
      margin-top: 40px;

      .PO {
        margin-top: 40px;
      }
    }

    &__form {
      max-width: 358px;

      .ul-BankTransfer {
        gap: 16px;

        li {
          padding: 16px;
          max-width: 110px;
          height: 50px;
          font-size: 14px;
        }
      }
    }

    &__invoice {
      margin-bottom: 24px;

      .btn-margin {
        margin-top: 32px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    &__content {
      flex-direction: column;
      gap: 16px;
    }

    &__confirmation {
      margin-top: 32px;

      .PO {
        margin-top: 32px;
      }
    }

    &__form {
      max-width: 100%;
      .ul-BankTransfer {
        flex-direction: column;
        gap: 12px;

        li {
          max-width: 100%;
          height: 60px;
          padding: 14px;
          font-size: 18px;
        }
      }
    }
  }
}
.modal-payment {
  width: 671px;
  padding: 32px 24px 40px;
  text-align: center;
  h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
  }
  h3 {
    margin: 24px 0px 8px;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  p {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .btn {
    height: 46px;
    max-width: 250px;
    width: 100%;
    margin: 39px auto 0px;
  }
}

@media (max-width: 700px) {
  .modal-proposal {
    width: min(671px, 92vw);
    padding: 24px 24px 28px;

    h2 {
      font-size: 28px;
    }

    .btn {
      max-width: 150px;
      p {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 500px) {
  .modal-proposal {
    width: 92vw;
    padding: 20px 16px 22px;

    h2 {
      font-size: 22px;
    }

    .btn {
      max-width: 100%;
    }
  }
}
