.payment-campaign {
  margin-bottom: 151px;
  @media screen and (max-width: 900px) {
    margin-bottom: 73px;
  }
  @media screen and (max-width: 600px) {
    margin-bottom: 31px;
  }
  h1 {
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
  &__form-flex{
    display: flex;
    gap: 24px;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
  &__form-flex-width{
    width: 100%;
    flex: 0 0 auto;
    max-width: 808px;
    @media screen and (max-width: 1100px) {
      flex: 1 1 auto;
    }
  }
  &__content {
    margin-top: 13px;
    display: flex;
    gap: 24px;

  }
  .navmenu {
    margin: 32px 0px;
    @media screen and (max-width: 900px) {
      margin: 16px 0px;
    }
  }
  &__width {
    max-width: 100%;
  }

  &__confirmation {
    margin: 44px 0px 16px;

    .PO {
      margin-top: 16px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;

      .btn {
        max-width: 250px;
        height: 46px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }
    }
  }

  &__form {
    margin-top: 8px;
    width: 100%;

    .margin {
      margin-top: 16px;
    }

    .ul-BankTransfer {
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      gap: 24px;

      li {
        cursor: pointer;
        text-align: center;
        max-width: 264px;
        width: 100%;
        padding: 16px 24px;
        height: 54px;

        border-radius: 8px;
        border: 1px solid #FFF;
        background: rgba(185, 208, 255, 0.15);

        color: #202934;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &.active {
          border-radius: 8px;
          border: 1px solid #B9D0FF;
          background: #FFF;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  &__invoice {
    margin-bottom: 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(185, 208, 255, 1);

    .btn-margin {
      margin-top: 48px;
    }

    h3 {
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }


}
.content-width{
  max-width: 100% !important;
  width: fit-content !important;
}
.modal-payment {
  max-width: 512px;
  width: 100%;
  padding: 32px 48px;
  text-align: center;
  h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
  }
  h3 {
    margin: 24px 0px 8px;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  p {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .btn {
    height: 46px;
    max-width: 250px;
    width: 100%;
    margin: 39px auto 0px;
  }
}

@media (max-width: 700px) {
  .modal-proposal {
    width: min(671px, 92vw);
    padding: 24px 24px 28px;

    h2 {
      font-size: 28px;
    }

    .btn {
      max-width: 150px;
      p {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 500px) {
  .modal-proposal {
    width: 92vw;
    padding: 20px 16px 22px;

    h2 {
      font-size: 22px;
    }

    .btn {
      max-width: 100%;
    }
  }
}
