@use "@/styles/variables/variables" as vars;

.new-password {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 24px;
  max-width: 600px;

  @media screen and (max-width: 900px) {
    margin-top: 32px;
    max-width: 100%;
  }
  @media screen and (max-width: 500px) {
    margin-top: 24px;
    gap: 16px;
  }

  &__header {
    padding: 8px 0;
    border-bottom: 1px solid vars.$blue;
  }

  &__title {
    font-weight: 400;
    font-size: 32px;

    @media screen and (max-width: 900px) {
      font-size: 24px;
    }

    @media screen and (max-width: 500px) {
      font-size: 20px;
    }
  }

  &__form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__submit-btn {
    margin-top: 32px;

    @media screen and (max-width: 900px) {
      margin-top: 8px;
    }

    @media screen and (max-width: 500px) {
      margin-top: 8px;
      max-width: 100% !important;
    }
  }

  &__modal {
    padding: 32px 48px;

    @media screen and (max-width: 900px) {
      padding: 32px 24px;
    }
    @media screen and (max-width: 500px) {
      padding: 24px 16px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;

      @media screen and (max-width: 500px) {
        gap: 24px;
      }
    }

    &-texts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }

    &-subtitle-block {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }

    &-title {
      font-size: 36px;
      font-weight: 400;
      text-align: center;

      @media screen and (max-width: 900px) {
        font-size: 32px;
      }
      @media screen and (max-width: 500px) {
        font-size: 24px;
      }
    }

    &-subtitle {
      font-size: 16px;
      text-align: center;
      color: vars.$gray-dark;

      @media screen and (max-width: 500px) {
        font-size: 13px;
      }
    }
  }
}
