@use '@/styles/variables/variables' as vars;

.home-campaigns-grid {
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(5, 1fr);

  @media screen and (max-width: 1700px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }

  @media screen and (max-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  @media screen and (max-width: 900px) {
    gap: 13px;
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__item {
    height: 155px;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid vars.$blue;
    background: vars.$light-blue;
    color: vars.$black-blue;
    font-size: 16px;

    @media screen and (max-width: 1100px) {
      font-size: 15px;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
      height: 133px;
      font-size: 16px;
    }

    &-header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-meta {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;

      img {
        width: 32px;
        aspect-ratio: 1;
      }

      p {
        letter-spacing: 0.32px;
        text-transform: uppercase;
      }

      @media screen and (max-width: 1300px) {
        img {
          width: 24px;
        }
      }

      @media screen and (max-width: 900px) {
        gap: 4px;
      }

      @media screen and (max-width: 600px) {
        gap: 8px;
        font-size: 15px;

        img {
          width: 32px;
        }
      }
    }

    &-date {
      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
    }

    &-price {
      text-align: right;
    }

    &-title {
      font-size: 20px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @media screen and (max-width: 1100px) {
        font-size: 18px;
      }

      @media screen and (max-width: 900px) {
        font-size: 16px;
      }

      @media screen and (max-width: 600px) {
        -webkit-line-clamp: 1;
      }
    }
  }
}
