.small-loader {
  display: flex;
  //justify-content: center;
  //align-items: center;
  gap: 4px;

  &__dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: block;
    position: relative;
    box-sizing: border-box;
    animation: animadvert 1.1s infinite linear;
  }

  &__dot:nth-child(1) {
    animation-delay: 0s;
  }

  &__dot:nth-child(2) {
    animation-delay: 0.275s;
  }

  &__dot:nth-child(3) {
    animation-delay: 0.55s;
  }

  &__dot:nth-child(4) {
    animation-delay: 0.825s;
  }

}

@keyframes animadvert {
  0%,
  75%,
  100% {
    width: 6px;
    height: 6px;
    background: #D0D1DA;
    transform: scale(1);
  }

  25% {
    background: #b9d0ff;
    transform: scale(1.4);
  }
}