.breadcrumbs {
  display: flex;
  span {
    width: fit-content;
    display: flex;
    align-items: center;
  }
  a,
  span {
    z-index: 1000;

    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(32, 41, 52, 1);
  }
  a {
    text-decoration: none;
  }
}
