@use "@/styles/scrollbars/_scrollbars.scss" as sb;
.breadcrumbs {
  display: flex;
  @media screen and (max-width: 420px) {
    max-width: 420px;
    overflow: auto;
    @include sb.scrollbar-thin-horizontal;
  }
  span {
    width: fit-content;
    display: flex;
    align-items: center;
  }
  a,
  span {
    z-index: 1000;

    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(32, 41, 52, 1);
    @media screen and (max-width: 650px) {
      font-size: 14px;
    }
  }
  a {
    text-decoration: none;
  }
}
