.root {
  .navmenu {
    margin: 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
  }
}

.head {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.proceed {
  max-width: 250px;
  margin: 0 auto 130px;
  &Total{
    text-align: center;
    padding-bottom: 16px;

    p{
      margin: 0 auto;
      max-width: 118px;
      color: #2A2A2A;

      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      border-bottom: 1px solid;
      span{
        color: #2A2A2A;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }
    }
  }
  .btn{
    height: 46px;
  }
}

.createOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8p;
  padding: 24px;
  min-width: 360px;

  h2 {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
  }
}

.createOptionInput {
  max-width: 575px;
  width: 100%;
  height: 52px;
  padding: 0 12px;
  border-radius: 12px;
  border: 1px solid rgba(231, 232, 241, 1);
  outline: none;
}

.createOptionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
  margin-top: 20px;
  .btn{
    max-width: 250px;
  }
}

@media (max-width: 900px) {
  .root {
    .navmenu {
      margin: 16px 0;
    }
  }
}

@media (max-width: 500px) {
  .root {
    h1 {
      font-size: 30px;
    }
  }

  .createOption {
    min-width: auto;
    width: 100%;
    padding: 16px;
  }

  .createOptionButtons {
    flex-direction: column;
  }
}