@use "@/styles/variables/variables" as vars;
@use "@/styles/mixins/_dropdown-menu" as dropdown-menu;

.client-company-select {
  @include dropdown-menu.dropdown($height-expanded: 223px);
  position: relative;

  &__title {
    color: vars.$gray-dark;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }

    @media screen and (max-width: 500px) {
      font-size: 14px;
    }
  }

  &__main {
    z-index: 5;

    margin-top: 8px;
    position: relative;
    display: flex;
    width: 100%;
    height: 51px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: white;
    border-radius: 8px;
    border: 1px solid vars.$white-gray-2;

    &--active {
      border: 1px solid vars.$blue;
      outline: none;
    }
  }

  &__selected-type {
    color: vars.$black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 900px) {
      font-size: 14px;
    }

    @media screen and (max-width: 500px) {
      font-size: 13px;
    }
  }

  &__placeholder {
    color: vars.$gray;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 900px) {
      font-size: 13px;
    }

    @media screen and (max-width: 500px) {
      font-size: 12px;
    }
  }

  &__dropdown {
    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 8px 16px;
    }

    &-list-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;
      font-size: 15px;
      color: vars.$gray-dark;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media screen and (max-width: 900px) {
        font-size: 14px;
      }

      @media screen and (max-width: 500px) {
        font-size: 13px;
      }
    }
  }
}
