.proceed {
  position: fixed;
  top: 25%;
  transform: translateY(-50%);
  right: 0;
  width: 133px;
  height: 166px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgba(226, 236, 250, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  z-index: 1000;
  padding: 12px;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: end;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(185, 208, 255, 1);
    &__offers {
      p {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 13px;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 24px;
          background-color: white;
          padding: 2px 8px;
          border-radius: 4px;
        }
      }
    }
  }
  .total {
    margin-top: 8px;
    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 32px;
        background-color: white;
        border-radius: 4px;
        padding: 2px 8px;
      }
    }
  }
  button {
    margin-top: 8px;
    padding: 8px 35px;
    font-size: 13px;
    background: rgba(236, 238, 240, 1);
    width: 109px;
    height: 34px;
    border-radius: 24px;
  }
  .active {
    background: rgba(32, 41, 52, 1);
    color: white;
  }
}
