@use "@/styles/scrollbars/_scrollbars.scss" as sb;
.bar-strategy-proposals {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  @media screen and (max-width: 1000px) {
    justify-content: start;
    gap: 4px;
  }
  .UI-button {
    display: flex;
    align-items: center;
    gap: 8px;
    .row {
      background-color: rgba(185, 208, 255, 1);
      width: 2px;
      height: 22px;
    }
  }
}
.ViewAudience {
  flex: 0 0 auto;

  display: flex;
  justify-content: end;
  height: 36px;
  &__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid rgba(185, 208, 255, 1);
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    &.active {
      background: linear-gradient(180deg, #ebecff 0%, #dff0ff 100%);
    }
  }
}
.changeView-table {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  &__segmented {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 266px;
    height: 38px;

    border-radius: 12px;
    background: #fff;
  }

  &__item {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    user-select: none;

    border: 1px solid rgba(231, 232, 241, 1);
    background: transparent;
    color: rgba(28, 28, 36, 0.45);

    &:not(:first-child) {
      margin-left: -1px;
    }

    &:first-child {
      border-radius: 12px 0 0 12px;
    }

    &:last-child {
      border-radius: 0 12px 12px 0;
    }

    &:not(:first-child):not(:last-child):not(.active) {
      border-left: 0;
      border-right: 0;
    }

    &.active {
      background: rgba(185, 208, 255, 0.18);
      border-color: rgba(185, 208, 255, 1);
      color: rgba(28, 28, 36, 1);
      position: relative;
      z-index: 2; // активная поверх соседей
    }
  }
}
.AddinitonalOption {
  background-color: rgba(255, 255, 255, 0.5);
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  height: 34px;
  border: 1px solid rgba(185, 208, 255, 1);

  width: fit-content;
}
