.toggleTables {
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: end;
  border-radius: 8px;
  height: 36px;

  &__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #EBECFF;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    cursor: pointer;

    p {
      margin: 0;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.active {
  background: linear-gradient(180deg, #ebecff 0%, #dff0ff 100%);
}