.card_campaign {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__head {
    max-width: 288px;
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(231, 232, 241, 1);
    transition: 0.2s ease;
    border-radius: 24px;
    &__titular {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 272px;
      width: 100%;
      height: 156px;
      background: linear-gradient(180deg, #ebecff 0%, #dff0ff 100%);
      padding: 16px;

      border-radius: 16px;
      h2 {
        font-weight: 500;
        font-style: Medium;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(42, 42, 42, 1);
      }
      p {
        font-weight: 400;
        font-style: Regular;
        font-size: 36px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(42, 42, 42, 1);
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 16px;
      padding: 0px 16px;
      li {
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(24, 24, 28, 1);
      }
    }
    .button {
      margin-top: 24px;
      max-width: 272px;
      margin-bottom: 8px;
    }
  }
  .block {
    margin-top: -19px;
    max-width: 288px;

    padding: 43px 16px 26px;
    height: 100%;
    border-left: 1px solid rgba(231, 232, 241, 1);
    border-right: 1px solid rgba(231, 232, 241, 1);
    border-bottom: 1px solid rgba(231, 232, 241, 1);
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    transition: 0.2s ease;
    overflow: hidden;
    ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
      box-sizing: border-box;
      overflow-y: auto;
      height: 252px;
      &::-webkit-scrollbar-thumb {
        background: radial-gradient(
            circle farthest-corner,
            rgba(231, 232, 241, 1) 0%,
            rgba(231, 232, 241, 1) 50%,
            transparent 50%,
            transparent 100%
          )
          no-repeat;

        background-size: auto 11px;
        background-position: center;
      }

      &::-webkit-scrollbar {
        width: 30px;
      }

      &::-webkit-scrollbar-track {
        background: linear-gradient(
          to right,
          transparent 0,
          transparent 45%,
          rgba(185, 208, 255, 1) 45%,
          rgba(185, 208, 255, 1) 55%,
          transparent 55%,
          transparent 100%
        );
      }

      li {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }
    }
  }
  &:hover {
    .card_campaign__head {
      transition: 0.2s ease;
      border: 1px solid rgba(14, 116, 220, 1);
      .card_campaign__head__titular {
        background: linear-gradient(
          107.52deg,
          #bce8ff 3.56%,
          rgba(218, 244, 255, 0.94) 50.39%,
          rgba(191, 216, 255, 0.895) 79.14%,
          rgba(164, 188, 255, 0.85) 100%
        );
      }
    }
    .button {
      background-color: rgba(14, 116, 220, 1);
      &:active {
        p {
          color: white;
        }
      }
    }
    .block {
      border-left: 1px solid rgba(14, 116, 220, 1);
      border-right: 1px solid rgba(14, 116, 220, 1);
      transition: 0.2s ease;
      border-bottom: 1px solid rgba(14, 116, 220, 1);
    }
  }
}
