.invoice-details-form {

  @media screen and (max-width: 900px) {
    max-width: 100%;
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    @media screen and (max-width: 900px) {
      margin-top: 24px;
    }
    @media screen and (max-width: 500px) {
      margin-top: 16px;
    }
  }
}