@use "@/styles/variables/variables" as vars;

.star-rating-field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__label {
    font-size: 16px;
    color: vars.$gray-dark;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }
    @media screen and (max-width: 500px) {
      font-size: 14px;
    }
  }

  &__stars {
    display: inline-flex;
    gap: 8px;
  }

  &__star {
    display: inline-flex;
    cursor: pointer;
    transition: transform 0.3s ease;

    svg {
      width: 32px;
      height: 32px;

      @media screen and (max-width: 500px) {
        width: 24px;
        height: 24px;
      }
    }

    svg path {
      fill: transparent;
      stroke: vars.$primary;
      transition: fill 0.2s ease, stroke 0.2s ease;
    }

    &--filled {
      svg path {
        fill: vars.$primary;
      }
    }

    &:active {
      transform: scale(0.8);
    }
  }
}
