.bc_search {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;

  gap: 6px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(231, 232, 241, 1);
  border-radius: 8px;

  padding: 12px 24px;
  height: 48px;
  z-index: 11;
  &.active {
    border: 1px solid rgba(185, 208, 255, 1);
  }
  @media screen and (max-width: 900px) {
    max-width: 100%;
    height: 42px;
  }
}
