$black-blue: #202934;
$white-gray-2: #e7e8f1;
$gray-dark: #2a2a2a;
$brightest-gradient: linear-gradient(
  108deg,
  #bce8ff 3.56%,
  rgba(218, 244, 255, 0.94) 50.39%,
  rgba(191, 216, 255, 0.89) 79.14%,
  rgba(164, 188, 255, 0.85) 100%
);
$light-blue: rgba(185, 208, 255, 0.15);
$hover-button-1: rgba(32, 41, 52, 0.8);
$hover-button-2: #f3f3f3;
$pressed-button-1: #e1e2ed;
$disabled-button-1: #eceef0;
$primary: #0E74DC;
$blue: #b9d0ff;
$error: #e11920;
$gray: #515259;
$light-gray: #8c8d98;
$black: #18181c;
$border-secondary: #ecedff;
$background: #FBFAF9;
$bg-white: #ffffff;