.campaign-creator-page {
  .navmenu {
    margin: 32px 0px;
    @media screen and (max-width: 900px) {
      margin: 16px 0px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    @media screen and (max-width: 500px) {
      font-size: 30px;
    }
  }
  &__head {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .no-ofers {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
