@use "@/styles/variables/variables" as vars;

.accounts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 12px;

    > span {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid vars.$white-gray-2;
      border-radius: 4px;
    }
  }
}
