.campaign-post-content {
  &__row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    .form-block {
      width: 100%;
      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
          font-weight: 400;
          font-style: Regular;
          font-size: 48px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
        }
        margin-bottom: 16px;
      }
      &__sticky {
        position: sticky;
        top: 50px;
      }
      @media (max-width: 860px) {
        .postContent {
          max-width: 100%;
        }
      }
    }
    @media (max-width: 860px) {
      flex-direction: column-reverse;
    }
  }
}
