.campaign-post-content {
  .form-block {
    width: 100%;
    @media (max-width: 860px) {
      .postContent {
        max-width: 100%;
      }
    }
  }
  display: flex;
  justify-content: space-between;
  gap: 12px;
  @media (max-width: 860px) {
    flex-direction: column-reverse;
    .postContent {
    }
  }
}
