.AutoReplace {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  .input {
    position: relative;
    input {
      width: fit-content;
    }
    input[type="checkbox"] {
      appearance: none;
      width: 24px;
      height: 24px;
      border: 1px solid rgba(185, 208, 255, 1);
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      transition: all 0.2s ease;
      @media screen and (max-width: 500px) {
        width: 20px;
        height: 20px;
      }
    }

    input[type="checkbox"]:checked + img {
      opacity: 1;
    }
    img {
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10%;
      z-index: -10;
      &.checked {
        opacity: 1;
      }
    }
  }
}
