@use "@/styles/variables/variables" as vars;

.percentage-input {
  padding: 9.5px 0;
  width: 66px;
  text-align: center;

  background: rgba(255, 255, 255, 1);
  border: 1px solid vars.$white-gray-2;
  border-radius: 8px;
  height: 38px;

  &::placeholder {
    font-size: 14px;
    @media screen and (max-width: 500px) {
      font-size: 12px;
    }
  }

  &:focus {
    outline: none;
    border: 1px solid vars.$blue;
  }

  @media screen and (max-width: 500px) {
    padding: 11px 0;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
