.footer-campaign-creator-page {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  background: rgba(185, 208, 255, 0.15);
  z-index: 1000;
  border-top-left-radius: 8px;
  @media (max-width: 500px) {
    justify-content: center;
    left: 0;
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 4px;
    p {
      font-size: 16px;
      @media (max-width: 500px) {
        font-size: 12px;
      }
    }
    img {
      width: 20px;
      height: 20px;
    }
  }

  button {
    padding: 8px 35px;
    font-size: 13px;
    background: rgba(236, 238, 240, 1);
    width: 109px;
    height: 34px;
    border-radius: 24px;
    transition:
      background 0.2s ease,
      color 0.2s ease;
    @media (max-width: 500px) {
      padding: 8px 16px;
      gap: 8px;
      width: 86px;
    }
  }

  .active {
    background: rgba(32, 41, 52, 1);
    color: white;
  }
}
