@use "@/styles/variables/variables" as vars;

.country-input {
  width: 100%;
  position: relative;
  z-index: 1;

  &--focused {
    z-index: 50;
  }

  &__input {
    padding: 9.5px 16px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid vars.$white-gray-2;
    border-radius: 8px;
    height: 38px;
    position: relative;
    z-index: 2;

    &::placeholder {
      font-size: 14px;
      @media screen and (max-width: 500px) {
        font-size: 12px;
      }
    }

    &:focus {
      border: 1px solid vars.$blue;
    }

    @media screen and (max-width: 500px) {
      padding: 11px 16px;
    }
  }

  &__list-wrapper {
    padding: 16px 16px 8px 16px;
    border: 1px solid vars.$blue;
    border-radius: 0 0 8px 8px;
    background: rgba(255, 255, 255, 1);

    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% - 8px);
    opacity: 0;
    z-index: 1;
    transform: translateY(-4px);
    transition: opacity 0.12s ease, transform 0.12s ease;
    pointer-events: none;

    &--visible {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    max-height: 121px;

    //Scrollbar styles for Firefox
    // scrollbar-width: thin;
    // scrollbar-color: vars.$light-gray rgba(0, 0, 0, 0.05);

    //Scrollbar styles WebKit browsers
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      width: 2px;
      background: vars.$blue;
    }
    &::-webkit-scrollbar-track {
      background: vars.$white-gray-2;
      border-radius: 4px;
    }
  }

  &__item {
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    color: vars.$black;

    &:hover {
      background: vars.$light-blue;
    }
  }
}
