@use "@/styles/variables/variables" as vars;

.base-input {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (max-width: 900px) {
    gap: 4px;
  }

  &__label {
    font-size: 16px;
    color: vars.$gray-dark;
    transition: all 0.2s ease-in-out;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }
    @media screen and (max-width: 500px) {
      font-size: 14px;
    }

    &--error {
      color: vars.$error;
    }
    &--disabled {
      color: vars.$light-gray;
    }
  }

  &__field {
    background: #ffffff;
    border: 1px solid vars.$white-gray-2;
    border-radius: 8px;
    max-height: 51px;
    padding: 16px;
    transition: all 0.2s ease-in-out;

    &::placeholder {
      color: vars.$gray;
      font-size: 14px;

      @media screen and (max-width: 900px) {
        font-size: 13px;
      }

      @media screen and (max-width: 500px) {
        font-size: 12px;
      }
    }

    &:focus {
      outline: none;
      border: 1px solid vars.$blue;

    }

    // remove number input spinners
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    // fix for autofill background color
    //&:-webkit-autofill,
    //&:-webkit-autofill:hover,
    //&:-webkit-autofill:focus {
    //
    //  -webkit-text-fill-color: #000;
    //  -webkit-box-shadow: 0 0 0 1000px #fff inset;
    //  transition: background-color 5000s ease-in-out 0s;
    //}

    &--error {
      border: 1px solid vars.$error;

      &:focus {
        outline: none;
        border: 1px solid vars.$error;
      }
    }
  }

  &__error-message {
    margin-top: -4px;
    color: vars.$error;
    font-size: 12px;

    @media screen and (max-width: 900px) {
      margin-top: -2px;
    }
  }
}