.card-container-block {
  position: relative;
  width: 100%;
  .cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    align-items: start;
    align-self: start;
    gap: 16px;

    &.viewed {
      .promos-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        height: fit-content;
        &__header {
          display: grid;
          grid-template-columns: 27% 100px 100px 1fr 1fr;
          padding: 8px 0;
          font-size: 16px;
          color: #202934;
          font-weight: 400;
          .center {
            text-align: center;
          }
          div {
            white-space: nowrap;
          }
          &.adaptive {
            @media (max-width: 470px) {
              grid-template-columns: 27% 71px 66px 1fr 1fr;
              div {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
