.base-confirmations {
  h2 {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
  &__content_paypal {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    &__flex {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  &__content {
    display: flex;
    gap: 16px;
    padding: 24px;
    margin-top: 16px;
    width: 100%;
    border: 1px solid rgba(185, 208, 255, 1);
    border-radius: 16px;
    &__transfer_flex {
      display: flex;
      flex-direction: column;
      gap: 24px;
      &__box {
        padding: 16px;
        width: 100%;
        gap: 12px;
        background: rgba(185, 208, 255, 0.15);
        border-radius: 16px;
      }
    }
    &__information {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 51px;
    }
    &__information-paypal {
      padding: 16px;
      display: flex;
      width: 100%;
      gap: 12px;
      background: rgba(185, 208, 255, 0.15);
      border-radius: 16px;
      &__flex {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 63px;
      }
    }
    &__information-transfer {
      &__flex {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 63px;
      }
    }
    &__row {
      display: flex;
      align-items: center;
      gap: 8px;
      &__top {
        margin-top: 16px;
      }
    }
    &__border {
      width: fit-content;
      padding: 8px 24px;
      border: 1px solid rgba(185, 208, 255, 1);
      border-radius: 8px;
    }
  }
  &__column-counts {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  &__stick {
    width: 2px;
    height: 36px;
    background-color: rgba(185, 208, 255, 1);
  }
  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(185, 208, 255, 1);

    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}
