.selection {
  padding: 24px;
  border-radius: 24px;
  border: 1px solid rgba(185, 208, 255, 1);
  max-width: 544px;
  width: 100%;
  height: 700px;
  &__head {
    display: flex;
    justify-content: space-between;

    h3 {
      font-weight: 400;
      font-style: Regular;
      font-size: 36px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      @media (max-width: 460px) {
        font-size: 24px;
      }
    }
    button {
      border-radius: 24px;
      padding: 8px 24px;
      border: 1px solid rgba(32, 41, 52, 1);
    }
  }
}
