@use "@/styles/variables/_variables.scss" as vars;
@use "@/styles/mixins/_glass-effect.scss" as glass;
@use "@/styles/mixins/_dropdown-menu.scss" as dropdown;

.tab-bar {
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media screen and (min-width: 901px) {
    @include glass.glass-effect();
  }

  @media screen and (max-width: 900px) {
    height: 48px;
    // padding: 10px 40px;
  }
  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* ---------- LOGO ---------- */
  &__button {
    width: 115px;
    height: 36px;
    border-radius: 8px;
    padding: 8px 24px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    line-height: normal;

    @media screen and (max-width: 900px) {
      width: 250px;
      min-width: 150px;
      flex-shrink: 1;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      height: 46px;
    }

    &--login {
      background: vars.$black-blue;
      color: white;
    }

    &--signup {
      background: white;
      color: vars.$black-blue;
      border: 1px solid vars.$black-blue;
    }
  }

  /* ---------- CONTROLS (RIGHT SIDE) ---------- */
  &__controls {
    display: flex;
    align-items: center;

    &--auth {
    }

    &-desktop {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-mobile {
      cursor: pointer;
    }
  }

  /* ---------- BURGER ICON ---------- */
  &__burger-toggle {
    width: 24px;
    height: 24px;
    cursor: pointer;
    @media screen and (max-width: 900px) {
      margin: 0px 10px;
    }
  }

  /* ---------- MENU (DROPDOWN) ---------- */
  &__menu {
    @include glass.glass-effect();
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    pointer-events: none;

    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 8px;
    transition: opacity 0.3s ease;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 16px;
      padding: 24px 16px;
    }

    &--open {
      opacity: 1;
      z-index: 10;
      pointer-events: auto;

      & > * {
        position: relative;
        z-index: 1;
      }
    }
  }

  /* ---------- MENU ITEM ---------- */
  &__menu-item {
    width: 115px;
    height: 36px;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    line-height: normal;

    background: vars.$black-blue;
    color: white;

    @media screen and (max-width: 900px) {
      width: 250px;
      min-width: 150px;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      height: 46px;
    }

    &--signup {
      background: white;
      color: vars.$black-blue;
      border: 1px solid vars.$black-blue;
    }
  }
}
