@use "@/styles/variables/_variables.scss" as vars;
@use "@/styles/mixins/_glass-effect.scss" as glass;
@use "@/styles/mixins/_dropdown-menu.scss" as dropdown;

.tab-bar {
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media screen and (min-width: 901px) {
    @include glass.glass-effect();
  }

  @media screen and (max-width: 900px) {
    height: 48px;
    // padding: 10px 40px;
  }
  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* ---------- LOGO ---------- */
  &__button {
    width: 115px;
    height: 36px;
    border-radius: 8px;
    padding: 8px 24px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    line-height: normal;

    @media screen and (max-width: 900px) {
      width: 250px;
      min-width: 150px;
      flex-shrink: 1;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      height: 46px;
    }

    &--login {
      background: vars.$black-blue;
      color: white;
    }

    &--signup {
      background: white;
      color: vars.$black-blue;
      border: 1px solid vars.$black-blue;
    }
  }

  /* ---------- CONTROLS (RIGHT SIDE) ---------- */
  &__controls {
    display: flex;
    align-items: center;

    &--auth {
    }

    &-desktop {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-mobile {
      cursor: pointer;
    }
  }

  /* ---------- BURGER ICON ---------- */
  &__burger-toggle {
    width: 24px;
    height: 24px;
    cursor: pointer;
    @media screen and (max-width: 900px) {
      margin: 0px 10px;
    }
  }

  /* ---------- MENU (DROPDOWN) ---------- */
  &__menu {
    @include glass.glass-effect();
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    pointer-events: none;

    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 8px;
    transition: opacity 0.3s ease;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 16px;
      padding: 24px 16px;
    }

    &--open {
      opacity: 1;
      z-index: 10;
      pointer-events: auto;

      & > * {
        position: relative;
        z-index: 1;
      }
    }
  }

  /* ---------- MENU ITEM ---------- */
  &__menu-item {
    width: 115px;
    height: 36px;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    line-height: normal;

    background: vars.$black-blue;
    color: white;

    @media screen and (max-width: 900px) {
      width: 250px;
      min-width: 150px;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      height: 46px;
    }

    &--signup {
      background: white;
      color: vars.$black-blue;
      border: 1px solid vars.$black-blue;
    }
  }

  &__user-menu {
    position: relative;
    cursor: pointer;
    z-index: 50;

    &-item {
      display: flex;
      align-items: center;
      gap: 8px;

      &-text {
        font-size: 20px;
      }
      &-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &-dropdown {
      position: absolute;
      top: calc(100% - 60px);
      right: 0;

      max-width: 288px;
      width: 288px;

      background: white;
      border: 1px solid vars.$border-secondary;
      border-radius: 8px;
      padding: 24px;

      display: flex;
      flex-direction: column;
      gap: 40px;

      opacity: 0;
      transform: translateY(-6px);
      pointer-events: none;
      visibility: hidden;

      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      transition:
        opacity 0.2s ease,
        transform 0.2s ease,
        visibility 0.2s ease;
      z-index: 1001;

      @media screen and (max-width: 900px) {
        gap: 24px;
      }

      &--open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        visibility: visible;
      }

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-info {
          display: flex;
          align-items: center;
          gap: 8px;

          &-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
          &-text {
            font-weight: 500;
            font-size: 16px;
            color: vars.$gray-dark;
          }
        }

        &-close {
          cursor: pointer;
          transition: opacity 0.2s ease;
          &:hover {
            opacity: 0.6;
          }
        }
      }

      &-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        &-link {
          font-size: 16px;
          text-align: center;
          border: 1px solid vars.$white-gray-2;
          border-radius: 8px;
          padding: 8px 24px;
          width: 100%;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            background: vars.$hover-button-2;
          }
        }
      }

      &-logout {
        border-radius: 8px;
        width: 100%;
        padding: 8px 24px;
        font-size: 15px;
        text-align: center;
        color: white;
        background: vars.$black-blue;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background: vars.$hover-button-1;
        }
      }
    }
  }

  &__dropdown-overlay {
    position: fixed;
    inset: 0;
    background: transparent;
    z-index: 1000;
  }
}
