@use "@/styles/variables/variables" as vars;

.notifications-via {
  display: flex;
  align-items: center;
  gap: 52px;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    color: vars.$gray-dark;

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }

    @media screen and (max-width: 500px) {
      font-size: 16px;
    }
  }

  &__list {
    display: flex;
    gap: 16px;

    @media screen and (max-width: 900px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 8px;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    height: 38px;
    gap: 16px;
    padding: 8px 12px;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid vars.$white-gray-2;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    @media screen and (max-width: 500px) {
      height: 40px;
      justify-content: space-between;
      padding: 8px 16px;
    }

    &-info {
      display: flex;
      align-items: center;
      gap: 4px;
      color: vars.$gray-dark;
    }

    &-icon {
      width: 16px;
      height: 16px;
    }

    &-check {
      opacity: 0;
      transition: all 0.2s ease-in-out;

      @media screen and (max-width: 500px) {
        width: 24px;
        height: 24px;
      }

      &--active {
        opacity: 1;
      }
    }

    &--active {
      border: 1px solid rgba($color: #3BD639, $alpha: 0.5);
    }
  }
}