@use "@/styles/variables/variables" as vars;

.promos-details-list-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 16px;
  width: 100%;
  border: 1px solid #fff;
  background: vars.$light-blue;

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid vars.$blue;
  }

  &__number {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__status {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__body {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    &-header {
      display: flex;
      align-items: center;
      gap: 24px;
      font-size: 40px;
      margin-bottom: 32px;

      > img {
        border-radius: 50%;
        object-fit: cover;
        height: 67px;
        width: 67px;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-item {
        display: flex;
        align-items: flex-start;
        gap: 8px;

        &-name {
          font-weight: 400;
          font-size: 16px;
          width: 184px;
          flex-shrink: 0;

          @media screen and (max-width: 900px) {
            width: 100px;
          }

          @media screen and (max-width: 500px) {
            width: 92px;
          }
        }
        &-wrapper {
          display: flex;
          align-items: flex-start;
          flex-grow: 1;
          flex: 1;
          gap: 8px;
        }
        &-description {
          font-weight: 500;
          font-size: 16px;
          flex: 1;
          line-height: 1.4;
          word-break: break-word;
        }
        &-copy {
          flex-shrink: 0;
          margin-left: auto;
          border-radius: 16px;
          padding: 4px 16px;
          width: 50px;
          height: 26px;
          background: #fff;
        }
      }
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;

    // > button {
    //   width: 250px;
    //   height: 46px;
    //   padding: 12px 0;
    //   border-radius: 24px;
    //   font-size: 16px;
    //   cursor: pointer;
    //   text-align: center;
    // }

    // &-decline {
    //   border: 1px solid vars.$black-blue;

    //   &:active {
    //     background: white !important;
    //     border: 2px solid vars.$black-blue !important;
    //   }
    // }
    // &-accept {
    // }
  }

  .btn {
    width: 250px;
    height: 46px;
  }
}
