.root {
}

.error {
  padding: 32px 0;
}

.viewMoreButton {
  margin: 64px auto 88px;
  max-width: 250px;
}

.spacer {
  margin: 64px auto 88px;
}

@media (max-width: 900px) {
  .viewMoreButton {
    margin: 64px auto 110px;
  }
}

@media (max-width: 500px) {
  .viewMoreButton {
    margin: 64px auto 22px;
  }
}