@use "@/styles/scrollbars/_scrollbars.scss" as sb;
.table-page {
  .live-view-wrapper {
    margin: 16px 0px;
    display: flex;
    align-items: center;

    gap: 16px;
    max-width: 1224px;
    overflow-x: auto;
    height: 100%;
    padding-bottom: 8px;
    &::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 8px;
    }

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(185, 208, 255, 0.15);
    }
  }
  .table-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-x: auto;

    padding-bottom: 8px;
    &::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 8px;
    }

    &::-webkit-scrollbar {
      height: 8px;
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(185, 208, 255, 0.15);
    }
  }
  &__wrapper {
    margin-top: 16px;

    padding-bottom: 16px;

    &::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 8px;
    }

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(185, 208, 255, 0.15);
    }
  }
}
