@use "@/styles/scrollbars/_scrollbars.scss" as sb;
.live-view-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  max-width: 357px;
  height: auto;
  align-self: stretch;
  min-height: 810px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);

  border: 1px solid rgb(231, 232, 241);
  &__card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__video {
    min-width: 325px;

    height: 303px;
    border-radius: 8px;
    background-color: gray;
  }
  &__fill-data {
    h3,
    .fill-input p,
    .network p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
    h3 {
      margin-bottom: 8px;
    }
  }
  .descr {
    width: 100%;
    .dropdown-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 0;
      padding: 0;
      align-items: flex-start;
      .check {
        position: absolute;
        right: 5px;
      }
      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 6px;

        font-weight: 400;
        font-size: 13px;
        line-height: 1.1;

        width: 100%;
        min-width: 0;

        .eye {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          padding: 2px 6px;
          border: 1px solid rgb(231, 232, 241);
          flex: 0 0 auto;
        }

        span {
          display: flex;
          justify-content: center;
          line-height: 19px;
          width: 19px;
          height: 19px;
          border: 1px solid rgb(231, 232, 241);
          border-radius: 4px;
          &.active {
            background: linear-gradient(
              107.52deg,
              #bce8ff 3.56%,
              rgba(218, 244, 255, 0.94) 50.39%,
              rgba(191, 216, 255, 0.895) 79.14%,
              rgba(164, 188, 255, 0.85) 100%
            );
          }
        }
      }
    }
  }
  &__fill-data {
    width: 100%;
    h3 {
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
    }
    .fill-input {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 8px;
      border-radius: 8px;
      border: 1px solid rgb(231, 232, 241);
    }
    .fill-input-audience {
      display: flex;
      gap: 16px;
      max-width: 325px;
      overflow: auto;
      @include sb.scrollbar-thin-horizontal;
      .audience {
        math-depth: 4px;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid rgb(231, 232, 241);
      }
    }
    .network {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 8px;
      border-radius: 8px;
      border: 1px solid rgb(231, 232, 241);
      max-height: 168px;
      overflow-y: auto;
      @include sb.scrollbar-dotted-vertical;
      &__row {
        display: flex;
        align-items: center;
        gap: 16px;
        img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
      }
      &__row-logo {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}
.live-view-cardInsight {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  background-color: red;
  max-width: 357px;
  min-height: 663px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgb(231, 232, 241);
  &__video {
    min-width: 325px;
    height: 303px;
    border-radius: 8px;
    background-color: gray;
  }
  &__fill-data {
    h3,
    .fill-input p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
  }
  &__fill-data {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 12px 8px;
    border-radius: 8px;
    border: 1px solid rgb(231, 232, 241);
    max-height: 70px;
    overflow-y: auto;
    img {
      width: 32px;
      height: 32px;
    }
    .fill-input {
      img {
        width: 24px;
        height: 24px;
      }
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
.hidden-text {
  max-width: 120px;
  white-space: nowrap; // запрет переноса строки
  overflow: hidden; // обрезаем лишнее
  text-overflow: ellipsis; // троеточие …

  display: block; // важно для ellipsis
}

.tagged-link {
  text-decoration: underline;
  transition: 0.3;
  &:hover {
    text-decoration: underline;
    transition: 0.3;
    color: rgb(76, 76, 76);
  }
}
