@use "@/styles/mixins/_glass-effect.scss" as glass;
@use "@/styles/variables/_variables.scss" as vars;

.logo {
  @include glass.glass-effect();

  user-select: none;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid #BCE8FF;
  width: fit-content;
  height: 36px;
  padding: 8px 12px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  img {
    width: 14px;
    height: 15px;
    z-index: 1;

    @media screen and (max-width: 900px) {
      width: 12px;
      height: 13px;
    }
  }

  p {
    margin: 0;
    z-index: 1;
    font-weight: 800;

    @media screen and (max-width: 900px) {
      font-weight: 600;
      font-size: 14px;
    }
  }
}
